- @layout = 'newsletters_layout'
- @title = 'Newsletters | Property Prices in Kensington'

%h2 Property Prices in Kensington

%p
  The Kensington Market still remains strong with prime areas attracting competitive bidding as 
  the imbalance of supply and demand continues. Overseas buyers are still the main driving force 
  in the market using London property as a safe haven for their money. In fact overseas buyers 
  now make up for nearly 50% of all transactions, with the uncertainty in the Euro zone and strong 
  emerging markets in Asia and South America this trend is set to continue. The sub &pound;2million market 
  is increasingly active as investors look to spread their investments rather than incurring the 
  higher stamp duty costs and the prohibitive cost of purchasing in a company name. Above &pound;2 million 
  family houses are still in good demand with purchases factoring in the additional stamp duty as are 
  large lateral apartments.
%p
  We all look forward to the summer ahead and I am sure the Olympics will bring a few more buyers 
  along with it to maintain a sure but steady year in Kensington.


%p
  %em
    For more information on house prices in Kensington please contact James Rideout.
    %a{:href=>'mailto:rideoutj@hamptons-int.com'}rideoutj@hamptons-int.com
%br/
%br/
%br/
