- @layout = 'newsletters_layout'
- @title = 'Newsletters | Kensington'

%h2 Kensington

%p
  Kensington, located within the wider Royal Borough of Kensington and Chelsea (RBKC), 
  sits primarily to the west of Kensington Park Gardens, north to where it meets Notting Hill and 
  south towards Earls Court with its most westerly boundaries being Olympia and West Kensington.  
  Home to Kensington Palace, the National History Museum, Science Museum, the V&amp;A and more, 
  it is known and loved by tourists all around the world.
%p
  It seems the price of property within Kensington ranks higher than virtually anywhere within the 
  UK and around the globe, with current values being normally well over &pound;3 million pounds for an 
  average family home.  Land Registry expects 40% of homes in the UK, of &pound;2million pounds or more, 
  to be purchased within RBKC (including taking into account the recent stamp duty hike from 5% to 7% 
  at this level.)  Due to the prevalence of competition within the buying process with low levels of 
  good available homes, prices look unlikely to fall either.  Why then, in spite of the extraordinary 
  price and associated stress in buying, is it such a popular place for people to choose to live 
  rather than just visit?  
%p
  Families love that it is rich in green spaces, free to all, such as; Holland Park and Kensington 
  Park Gardens as well as many properties benefiting from access to wonderful garden squares notably: 
  Edwardes Square, Airlie Gardens, Cornwall and Lexham Gardens as well as a surprising amount of 
  demised gardens, albeit sometimes tiny, throughout the area.  Schools are excellent including the 
  Ashbourne, Fox, Hawkesdown, Holland Park, the French Lycee and St Mary Abbots, all within a short, 
  safe and leafy walk from home and virtually every amenity you could wish for.  
%p
  If it is a Michelin Star restaurant you want, Kensington has Kitchen W8 (a wonderful treat and no 
  corkage on 'bring your own' Sunday evenings) and if it's a coffee, tea or an affordable meal that 
  you are after, virtually all is catered for here.  You are spoilt for choice.  
  Excellent transportation links include District and Circle underground stations with Circle and 
  Piccadilly stations a short walk away.  Regular buses and super quick access to the M4 and M40 
  provide routes out of town towards Heathrow Airport, Oxford and the West of the country. The huge 
  benefit of living in Kensington is of course that you will be eligible for the K&amp;C car parking 
  permit which is worth its weight in gold.  Unlike other boroughs where permits only allow you to 
  park in a few streets immediately surrounding your home, this permit covers the entire borough.
%p
  My husband and I moved into Kensington four years ago and just love it!  Basically, you CAN have 
  it all – but at a price.

%p
  %em
    For more information on finding properties in Kensington in other areas of London please contact us at
    %a{:href=>'mailto:enquiries@londonpropertymatch.com'}enquiries@londonpropertymatch.com

%br/
%br/
%br/

