- @layout = 'newsletters_layout'
- @title = 'Newsletter - Summer'

%h2 Newsletter | Summer 2012

.section
  %h3 Newsletter Summer 2012

  %p
    Savills report that within the central London market stock has remained constrained,
    ending the first quarter at just over half (54%) of the average levels seen at this time of the year
    in the preceding nine years. This is reflected in a continuation of robust transaction levels.
    Across the market, sales over &pound;5million were 20% up over the same period last year generating proceeds
    of some &pound;940 million. The resulting stock shortages have combined with strong overseas demand to
    push prices 20% above their 2007 peak and leave annual price growth in double digit territory. In the
    first three months of the year, overseas buyers accounted for 62% of buyers in Central London, a figure
    which compares to 55% in the first quarter of 2011.  Interestingly such stock shortages have changed
    the buyer profile in Fulham which is now progressively more international.

  %p
    Despite the stock shortages LPM are managing to get clients' offers accepted and infact we have had one
    of our busiest starts to a year in memory.  So much so that we have expanded and are delighted to announce
    that Tamara Colton has joined the LPM team.  She brings with her 14 years' experience in property
    including sales, lettings and refurbishment.
    %br/
    In this issue we look at the area of Kensington, hear what Savills have to say on the state of the market
    and list what there is to do this Summer around town if you are not running away from the Olympics!

  %p Happy reading!
  %p
    Sarah Snow&nbsp;&nbsp;&nbsp;Suzanne Emson&nbsp;&nbsp;&nbsp;Tamara Colton&nbsp;&nbsp;&nbsp;
    and&nbsp;&nbsp;&nbsp;Sarah Dixon
  %hr/

.section
  %h3 Kensington
  .media
    %img.imgExt{ :src=>"/images/kensington.jpg"}
    Kensington, located within the wider Royal Borough of Kensington and Chelsea...
    %a{ :href=>"/newsletters/summer-2012/kensington.html" }Read more
  .clear
  %hr/

.section
  %h3 Property Prices in Kensington
  .media
    %img.imgExt{ :src=>"/images/hamptons-logo.jpg"}
    Hamptons comment on property prices in Kensington...
    %a{ :href=>"/newsletters/summer-2012/kensington-prices.html" }Read more
  .clear
  %hr/

.section
  %h3 Market Update
  .media
    %img.imgExt{ :src=>"/images/house-question.jpg"}
    Savills comment that "On average prices currently exceed their September 2007 peak in all of the 
    prime London markets, significantly so in central London. This has been delivered on the back of 
    a strong rebound in prices over a three year period"...
    %a{ :href=>"/newsletters/summer-2012/housingmarket.html" }Read more
  .clear
  %hr/

.section
  %h3 What's on in London this Summer?
  .media
    %img.imgExt{ :src=>"/images/london-buildings.jpg"}
    From plays to exhibitions we have summarised the best of things to see and do in London this Summer...
    %a{ :href=>"/newsletters/summer-2012/whatson.html" }Read more
  .clear
  %br/
  %br/
  %br/
  %br/
