- @layout = 'newsletters_layout'
- @title = "Newsletters | What's on in London this Summer"

%h2 What's on in London this Summer


%h3
  Theatre
%ul
  %li
    %a{ :href=>'http://www.theartsdesk.com/theatre/written-heart-duchess-theatre' }Written on the Heart Duchess Until 21st July
  %li
    %a{ :href=>'http://www.atgtickets.com/Long-Day-s-Journey-Into-Night-Tickets/83/282/' }Long Day's Journey into Night Apollo until 18th August
  %li
    %a{ :href=>'http://www.nationaltheatre.org.uk/?lid=69914' }The Last of the Haussmans Lyttelton 12th June- 16th September
  %li
    %a{ :href=>'http://www.whatthebutlersawtheplay.com/' }What the Butler Saw Vaudeville until 25th August
  %li
    %a{ :href=>'http://www.oldvictheatre.com/democracy-3/' }Democracy Old Vic until 28th July



%h3
  Art
%ul
  %li
    %a{ :href=>'http://www.tate.org.uk/whats-on/tate-britain/exhibition/picasso-modern-british-art' }Picasso &amp; Modern British Art  Tate Britain until 15th July
  %li
    %a{ :href=>'http://www.hrp.org.uk/HamptonCourtPalace/stories/palacehighlights/thewildbeautifuldamned' }The Wild, The Beautiful and the Damned Hampton Court Palace until 30th September
  %li
    %a{ :href=>'http://www.tate.org.uk/visit/tate-modern' }Damian Hurst Tate Modern until 9th September 
  %li
    %a{ :href=>'http://www.royalcollection.org.uk/visit/queensgallerylondon?_$ja=kw:%2bQueens%20%2bGallery|cgn:The+Queens+Gallery_BMM|cgid:3916718708|tsid:5255|cn:The+Queens+Gallery+2012|cid:96471788|lid:24725528255|mt:Broad|nw:search|crid:14023619468&gclid=CJfi3-juu7ACFcshtAodezR7nA' }Da Vinci: Anatomist  Queen’s Gallery until 7th October
  %li
    %a{ :href=>'http://www.barbican.org.uk/artgallery/event-detail.asp?ID=12409' }Bauhuas: Art as Life Barbican until 12th August
  %li
    %a{ :href=>'http://www.tate.org.uk/whats-on/tate-modern/exhibition/edvard-munch-modern-eye' }Edward Munch: The Modern Eye Tate Modern until 14th October
  %li
    %a{ :href=>'http://www.royalacademy.org.uk/' }From Paris: A Taste of Impressionism Royal Academy until 23rd September
  %li
    %a{ :href=>'http://www.royalacademy.org.uk/' }Summer Exhibition Royal Academy until 12th August

%h3
  Other Entertainment
%ul
  %li
    %a{ :href=>'http://www.somersethouse.org.uk/film/film4-summer-screen-2012' }Film4Summer Screen Somerset House 16th-27th August
  %li
    %a{ :href=>'http://www.thenottinghillcarnival.com/' }Notting Hill Carnival 26th -27th August
  %li
    %a{ :href=>'http://www.operahollandpark.com/' }Opera Holland Park various productions until 3rd August


%br/
%br/
%br/
