- @layout = 'newsletters_layout'
- @title = 'Newsletter Summer 2011'

%h2 
  =@title

.section

  %p Continued lack of stock and strong competition for the best properties means that the majority of our clients are still having to offer at least the asking price and exchange in short timescales.  We are continuing to secure properties for clients although it can be a very stressful experience for all involved.  A good solicitor is key to ensure the transaction moves as swiftly as possible.  

  %p In this issue we focus on Pimlico and Savills looks at how the world behaves in London's residential real estate markets.  Last year, overseas nationals were responsible for buying 28 per cent of all resale properties across all prime London but 54 per cent by value in the prime central London area in the over &pound;5 million price bracket.  Lastly are you thinking about carrying out works to your property?  Before you do so consult William Sturges' guide to avoid pitfalls when you come to sell.

  %p We hope you have a lovely Summer.

  %p 
    Sarah Snow&nbsp;&nbsp;&nbsp;Suzanne Emson&nbsp;&nbsp;&nbsp;Sarah Dixon
  %hr/

.section
  %h3 Pimlico
  .media
    %img.imgExt{ :src=>"/images/pimlico.jpg"}
    When people envisage Pimlico it is the white stucco terraces developed by Thomas Cubitt that spring to mind...  
    %a{ :href=>"/newsletters/summer-2011/pimlico.html" }Read more
  .clear
  %hr/

.section
  %h3 Property Prices in Pimlico
  .media
    %img.imgExt{ :src=>"/images/douglas-and-gordon-logo.jpg"}
    Douglas and Gordon comment on property prices in Pimlico...
    %a{ :href=>"/newsletters/summer-2011/pimlico-prices.html" }Read more
  .clear
  %hr/

.section
  %h3 The World in London
  .media
    %img.imgExt{ :src=>"/images/world-london.jpg"}
    Savills looks at how the world behaves in London's residential real estate markets...
    %a{ :href=>"/newsletters/summer-2011/world-in-london.html" }Read more
  .clear
  %hr/

.section
  %h3 Carrying out work to your property
  .media
    %img.imgExt{ :src=>"/images/property-work.jpg"}
    "...There are several issues which property owners need to consider before employing contractors, without which they could find themselves in hot water when they decide to sell"...
    %a{ :href=>"/newsletters/summer-2011/property-work.html" }Read more
  .clear
  %hr/

.section
  %h3 What's on in London this Summer?
  .media
    %img.imgExt{ :src=>"/images/london-buildings.jpg"}
    From plays to exhibitions we have summarised the best of things to see and do in London this Summer...
    %a{ :href=>"/newsletters/summer-2011/whatson.html" }Read more
  .clear
  %br/
  %br/
  %br/
  %br/
