- @layout = 'newsletters_layout'
- @title = 'Newsletters | Carrying out work to your property'

%h2 Carrying out work to your property

%p
  One of the effects of recent fluctuations in the economy is that property owners are increasingly choosing to improve their current properties in favour of selling in this unpredictable economic climate.
  
%p
  There are several issues which property owners need to consider before employing contractors, without which they could find themselves in hot water when they decide to sell.  This article seeks to highlight the considerations a property owner should bear in mind before the builders turn up on the doorstep…
  
%h3 Party wall award
  
%p
  Will any works be carried out to a party wall?  A party wall is any wall or structure that is currently shared between two properties.  The owner of the adjoining property must be given two months' notice (before the works commence) detailing the nature and extent of the works, so that he may either consent to the works or appoint a surveyor to ensure that his property is not adversely affected by them. 
  
%h3 Building Regulations
  
%p
  Building Regulations exist to ensure that building works carried out to properties are of a standard that ensures the health and safety of those persons in and around the building.  When carrying out works to a property, most people do not appreciate that, save for redecoration (in its purest form), the majority of alterations will require inspection from the Local Authority Building Control department to ensure that their minimum standards are met.  Any alterations which affect, for example, (and this list is by no means exhaustive) any gas appliances, windows, electricity, insulation, fire safety, water pipes and drainage should only be done under the supervision of the local District Surveyor who will issue the appropriate certificate on completion, which will satisfy a prospective purchaser.
  
%h3 The Lease
  
%p
  In the case of a flat (and in rare cases, some houses), the lease is the main document which governs the tenant's ability to use and alter the flat.  Prior consideration should be taken to determine whether Landlord's consent is needed – even where the proprietor has a share in the freehold interest - to alter the layout of the property, or for changing the flooring.  Often the lease contains covenants that the property will be carpeted, so hard wood flooring would require consent.
  
%h3 Listed Building Consent
  
%p
  A proprietor should know if their property is listed and the parts of the property to which that listing relates.  For certainty, transparency with the Local Authority as to any proposed works will ensure that any criminal liability for lack of listed building consent is avoided.  To repair or alter a Listed building can require formal consent even if planning permission is not required which is a common misapprehension.
  
%h3 External works 
  
%p
  Where the works seek to extend the property (in the case of a house, for example, perhaps by excavating to create a basement or erecting a side extension) planning permission may be required and consultation with the Local Authority is essential to ensure that if planning permission is required, it is obtained.  
  
%p
  If the property falls within a conservation area, conservation area consent is separate from planning permission and should not be forgotten.  A conservation area is an area which has been designated as being of special architectural or historic interest, the character or appearance of which is considered to be desirable to safeguard and consequently planning control is often more restrictive.
  
%p
  The above provides a useful checklist to highlight to property owners some of the pitfalls when carrying out works.  So long as all the appropriate consents are obtained and the paperwork can be provided to satisfy a prospective purchaser, these issues can be avoided.


%p
  %em
    For more information please contact
    %a{:href=>'William Sturges LLP'}William Sturges LLP
    22 June 2011

%br/
%br/
%br/
