- @layout = 'newsletters_layout'
- @title = "Newsletters | What's on in London this Summer"

%h2 What's on in London this Summer


%h3
  Theatre
%ul.simpleList
  %li 
    %a{ :href=>'http://sinandloveandfear.wordpress.com/2011/06/20/much-ado-about-nothing-at-wyndham-theatre/' }Much Ado About Nothing Wyndham's Theatre until 3 September, Globe until 1 October
    The Tennant/Tate version
  %li 
    %a{ :href=>'http://www.nationaltheatre.org.uk/64455/productions/london-road.html' }London Road National until 27 August
  %li 
    %a{ :href=>'http://www.nationaltheatre.org.uk/64476/productions/one-man-two-guvnors.html' }One Man, Two Guvnors National until 19 September 
  %li 
    %a{ :href=>'http://openairtheatre.org/production/crazyforyou' }Gershwin's Crazy for You Regent’s Park Open Air Theatre 28 July-10 September
  %li 
    %a{ :href=>'http://www.shakespearesglobe.com/theatre/on-stage/alls-well-that-ends-well' }All's Well That Ends Well The Globe until 21 August
  %li 
    %a{ :href=>'http://www.betrayaltheplay.com/' }Betrayal Comedy Theatre until 20 August
    Ian Rickson’s production of Pinter’s play starring Kristin Scott Thomas
    
    


%h3
  Art
%ul.simpleList
  %li 
    %a{ :href=>'http://www.tate.org.uk/britain/exhibitions/thevorticists/default.shtm' }The Vorticists Tate Britain until 4 September
  %li 
    %a{ :href=>'http://www.tate.org.uk/modern/exhibitions/joanmiro/default.shtm' }Joan Miro: The Ladder of Escape Tate Modern until 11 September
  %li 
    %a{ :href=>'http://ticketing.southbankcentre.co.uk/find/hayward-gallery-and-visual-arts/other-art-on-site/tickets/tracey-emin-love-is-what-you-want-56749' }Tracey Emin: Love is what you want Hayward until 29 August
  %li 
    %a{ :href=>'http://london.iwm.org.uk/server/show/nav.24678' }Women War Artists Imperial War Museum until 8 January
  %li 
    %a{ :href=>'http://www.whitechapelgallery.org/exhibitions/government-art-collection-at-work' }Government Art Collection Whitechapel until 2 September
  %li 
    %a{ :href=>'http://www.npg.org.uk:8080/glamour/index.htm' }Glamour of the Gods National Portrait Gallery until 23 October
  %li 
    %a{ :href=>'http://www.britishmuseum.org/whats_on/exhibitions/australian_season/out_of_australia.aspx' }Out of Australia: Prints and Drawings from Sidney Nolan to Rover Thomas British Museum until 11 September
  %li 
    %a{ :href=>'http://www.courtauld.ac.uk/gallery/exhibitions/2011/Lautrec.shtml' }Toulouse-Lautrec and Jane Avril: Beyond the Moulin Rouge Courtauld until 18 September
  %li 
    %a{ :href=>'http://www.royalacademy.org.uk/exhibitions/summer-exhibition-2011/' }Summer Exhibition Royal Academy until 15 August
  
  
  
%h3
  Other entertainment:
%ul.simpleList
  %li 
    %a{ :href=>'http://www.somersethouse.org.uk/film' }Film4Summer Screen, Somerset House 27 July-7 August
  %li 
    %a{ :href=>'http://www.rhs.org.uk/shows-events/hampton-court-palace-flower-show/2011' }Hampton Court Palace Flower Show 5-10 July
  %li 
    %a{ :href=>'http://www.thenottinghillcarnival.com/' }Notting Hill Carnival 28-29 August
  %li 
    %a{ :href=>'http://www.operahollandpark.com/' }Opera Holland Park various productions until 13 August
  %li 
    %a{ :href=>'http://www.viewlondon.co.uk/south-west-four-weekender-tickets.aspx' }South West Four Weekender 27/28 August
  
%br/
%br/
%br/
