- @layout = 'newsletters_layout'
- @title = 'Newsletters | World in London'

%h2 World in London

%p
  The international wealth currently flowing into the prime London residential market each year is enough to buy 18,561 average UK homes*. A new report published by Savills research estimates that foreign capital is being injected into the prime London market at a rate of &pound;3.3 billion annually, with a further &pound;0.4 billion into the capital's prime newly built stock.
  
%p
  Taken together, these sums are sufficient to buy all privately owned stock in the whole Greater London area within 157 years at today's values, the report says.  Most of the annual cash injection (&pound;2.7billion) of new funds from overseas finds its way into the resales market in the prime central area (Mayfair to Kensington, Notting Hill to Chelsea).
  
%p
  This sum equates to just under 2 per cent of the total value of all the prime housing stock of this area and accounted for 34 per cent of all the stock sold in 2010. Last year, overseas nationals were responsible for buying 28 per cent of all resale properties across all prime London but 54 per cent by value in the prime central London area in the over &pound;5 million price bracket.
  
%p
  A new 'World in London' report from Savills research has analysed international buyer activity in the prime London market since 2007, and estimates that a total of &pound;16.5 billion will have been invested over the 5 year period by the end of this year (2011). This cash injection means that prime London values now move more in line with other global real estate, commodities and investment markets than domestic UK housing markets. London's high value, niche markets are becoming increasingly detached.
  
%p
  In examining how the world behaves in London's residential real estate markets, Savills has identified three key factors.
  %ol
    %li The equity brought into London by overseas buyers migrates out of the central areas into outer London and down the UK market, as UK owners in London are net disinvestors. They call it 'the champagne tower effect'.
    %li If Chinese mainland billionaires were able / willing to bring their wealth to London, they could move ultra-prime prices by as much as 15%.
    %li Some lower profile buyers in prime London have been overlooked in media stories, while others have been over-hyped. Savills found that western Europeans were by far the biggest group of international buyers, that North Americans are as large a group as Middle Easterners and bigger than ex Soviet Union buyers. Not all Russian buyers are Oligarch billionaires. The Chinese are coming, but only in relatively small numbers and they don't all buy new build. There are more buyers coming from India and Pakistan than China – and they're spending more. It is this group that Savills identifies as most important to the London market among the emerging economies.
  
  %em * Source: CLG average UK house value

%h3 How wealth spreads through the market

%p
  "The real story behind the headlines is that this inflow of equity at the top of the market is creating a champagne tower effect, pushing wealth out beyond the very central London locations," says Yolande Barnes, head of Savills residential research. "We have not seen, since the 1960s, a time when foreigners have become net disinvestors (although overseas funds did stop flowing in 1998 and in 2002/3, causing temporary downturns in values). Meanwhile, UK owners have been disinvesting and moving out of the central areas, taking their equity with them. As a result, central London is becoming more international as these buyers tend to hold their stock for longer than their UK counterparts.
    
%p
  "UK nationals carry the foreign equity out of prime areas and gentrify new areas or buy prime country and regional properties, thereby pushing out the boundaries of prime London, using foreign equity. Where they lead, the more mature markets, such as western Europeans and North Americans, often follow. It is this migration of capital that has created new prime areas and fuelled price growth – particularly in prime south west London."
    
%p
  There are signs that, in other housing market recoveries, equity has dispersed quickly out of London to prime regional markets. There is less evidence that this is happening currently, Savills reports, although prime townhouses outside London have ticked up, rural properties have not yet benefited from London equity outflows. "It is as if the equity is getting stuck in prime south west London; of the &pound;3.3 billion into prime London, only &pound;0.5 billion left via the large Southwest markets in 2010".

%h3 Close link to international wealth creation – Chinese buyers could create a 15% boost
    
%p
  International wealth generation has become a key indicator of prime central London values, with price movements of the ultra prime (&pound;15million plus) sector being very closely linked to the number of newly created billionaires in a given year, but in the past year, the creation of new billionaires has outpaced price growth of the most expensive properties in the capital.
    
%p
  The biggest increase in global billionaires since 2007 has been from China and the CIS (Russia and ex Soviet Union). While CIS buying activity has been strong, accounting for 15 per cent of prime central London purchases by value, the Chinese billionaires have yet to have a real impact, accounting for just 3 per cent of prime central London resale purchases by value.
    
%p
  "If the money from China were to start flowing into London at the same rate it does from billionaires in other countries, we would expect the values of ultra prime London properties to grow by as much as 15 per cent," says Barnes. "The issue at present is that Chinese buyers aren't taking, or can't take, their money out of China."
  
%h3 The big spenders - the hyped and the rarely mentioned
    
%p
  The highest spenders in the past five years have been buyers from Eastern European and CIS countries; with an average spend of &pound;6.2 million across all prime London, followed by Middle Eastern and North African buyers with an average &pound;4 million spend.
    
%p
  Eastern European and CIS buyer numbers have grown from just 6% of the prime central London market in 2007 to 13 per cent so far this year. Alongside the oligarchs buying at the very top of the market, Savills has seen the emergence of lower-key individuals, including those coming to work in the City, buying smaller-budget and investment properties.
    
%p
  Buyers from the Indian sub-continent continue to be an under-reported and important force within the market, constituting 9 per cent of all buyers in the &pound;5 million to &pound;15 million price band, with a quarter of all Savills buyers from this region spending in excess of &pound;5 million. Similarly, Western Europe and the Nordic region account for a significant 16 per cent of all buyers and 14 per cent of purchases by value, with an average spend of &pound;2 million. Both represent more mature markets for prime London residential, and lend an important degree of stability.
    
%p
  Over the past year, the biggest increase amongst Western European buyers has come from the southern countries – Greece, Spain and Italy – with buyers seeking a safe haven for their cash. Another notable boost has come from long term North American renters who seem to be turning to buy; their share of the second hand market has risen from 4 per cent in 2008 to 7 per cent this year to date, with an average purchase price of &pound;2.5 million. By contrast, UK buyers have accounted for half of all prime central London purchases, but just 40 per cent by value, with the average UK buyer spend in prime London at &pound;1.2 million.
    
%p
  The smaller players, for now, include African buyers, though the South African investment mentality means they have been particularly active in the managed buy to let sector. Also, and despite huge wealth generation in the region, Latin American buyers remain a tiny and immature buying group in London, and their limited international investment appetite is for now focused on the US.
    
%p
  "As new global economies emerge, other global cities will compete for their custom," says Barnes. "China, Asia Pacific, Latin America and even Africa all have huge potential as future sources of inward investment to London real estate but London will have to continue providing an international product to appeal to them if it is to continue attracting their currency. We think the already established preference of buyers from the Asian subcontinent for London will mean that Indians will be among the most important buyers from the emerging countries in the future."

%h3 And the international renters
    
%p
  The international lettings market is dominated by Western European and North American tenants, accounting for 21% and 17% of all renters, (24% and 27% by value), reflecting the mature relationship between these regions and the UK. By contrast, the Chinese lettings market in London is almost non-existent, reflecting the extremely small numbers of employees relocating to the UK from this region.

%h3 The future - will London retain its appeal?

%p
  "We anticipate that London will continue to attract overseas buyers in the foreseeable future, especially with the eyes of the world on the London Olympics next year," says Barnes. "The diversity of economies from which these buyers originate and of their motivations for purchase, mean that there will nearly always be an overseas market for London property for as long as London remains a major global city.
    
%p
  "London prices are, however, increasingly difficult to forecast on a short term basis. The recent surge in international buying has stimulated values by 3% to 4% already this year, making our -1.0% forecast for 2011 look increasingly bearish. We will formally review our forecasts at the mid year point, but do not expect any significant change to our five year forecast of 33.4% growth by the end of 2015 – it just looks as if growth might have occurred earlier than expected."
    
%p
  London prices will inevitably be exposed to weaker global activity or sterling's appreciation, but Savills anticipates that its status as a relatively mature, stable global city market will continue to attract 'safe haven' seekers. Also, although the capital's status as a benign tax has been somewhat dented recently, it is still sufficiently attractive within the euro region not to discourage most residents.
    
%p
  Barnes concludes: "While a combination of rising sterling and falling commodity prices might appear to be a particular risk for prime London real estate prices, these tend to run counter-cyclical to domestically-generated wealth from UK stock markets, economic growth, IPOs, etc. This means that domestically-generated wealth will tend to take over when new overseas money is withheld and the fact that international investors have become holders rather than sellers of their real estate stock (thereby limiting new supply) will serve to underpin prime London values longer term."
  

%br/
%br/
%br/