- @layout = 'newsletters_layout'
- @title = 'Newsletters | A Tale of Two Markets'

%h2 A Tale of Two Markets

%p
  Less equity is flowing out of the capital and into the regions, so the gap in house prices between London and the rest of the UK has widened in the first six months of this year.
  
%p
  This year, housing markets have become increasingly polarised. Prime central London has made all the headlines, leaving prime country houses behind. The prime market in the capital is, seemingly, awash with equity. Price growth has continued through the second quarter, and has shown little sign of being affected by the increase in stamp duty for purchases over &pound;1 million.
  
%h3 London rolls on
  
%p
  Overseas equity continues to flow into central London particularly for higher value houses and luxury apartments, where price growth and transactions volumes have been strongest.  
  
%p 
  Transaction numbers in the over &pound;5 million price bracket were the highest ever recorded in the three months to the end of June. 
  
%p
  Normally, the overseas equity injection into prime central London (which we estimate will be in excess of last year's &pound;3.7 billion) spreads down the market and out of London. 

%p
  This year fewer homeowners in South West and North London are leaving for the country, and taking the London equity with them. They appear reluctant to move into weaker markets during economic uncertainty. So more equity is being recycled within the capital and is helping to drive up prices for family houses.  &pound;520,000 is the difference between the average value of a 2,000 sq ft 4 bed house in SW London and the inner commuter zone including Chelmsford, Harpenden, Beaconsfield, Guildford and Sevenoaks.
  
%h3 Regions held back 

%p
  As less housing equity is being exported from London into the regional markets, values of prime regional property at the end of June were 1.8% below those of 12 months previously. 

%p
  The number of prime buyers in the prime country commuter zone (defined as an hour's rail journey into London) was down by nearly one-third in the first six months of 2011 compared to 2010. The gap between average prices in prime South West London and prime commuter zone houses has been stretched further than ever before and looks set to widen over the remainder of the year.  

%p
  Meanwhile, high rates of sale in London are creating an imbalance between high demand and low supply, which is likely to deliver further price growth. This contrasts with a build-up of unsold stock in the rest of the prime UK markets which is likely to be carried over into the autumn. 

%p 
  The lull in the market, which we expected in 2011, has been avoided in London but has prevailed in the other prime markets of the UK. We have therefore conducted a mid-year review of our 2011 forecasts for both markets. The good value effect.  

%p
  We continue to expect all prime markets to outperform their mainstream counterparts over the early part of this new housing cycle. Sellers will be forced to price realistically in the prime country markets because stock has increased, but the earlier than anticipated growth in London is making the country seem increasingly good value. This means domestic buyers from London maybe drawn into the country next year after the market has adjusted.


%p
  %em
    Words by Yolande Barnes head of research at Savills

%br/
%br/
%br/
