- @layout = 'newsletters_layout'
- @title = 'Newsletters | Between-the-Commons'

%h2 Between the Commons

%p
  The area bounded by Clapham &amp; Wandsworth Commons and by Battersea Rise to the north and Nightingale Lane to the south is known locally as Between-the-Commons. Over the last twenty years it has seen its popularity boom, particularly among young families which has led the area to be more commonly referred to as "nappy valley". Much of this is down to superb primary education, Honeywell and Belleville schools, which offer some of the best state primary education in London – both have been rated outstanding by OFSTED, and demand for places is predictably very high. The catchment area for these schools varies from year to year as siblings are always given priority but to be certain of gaining a place you should aim to live no more then 500m from the schools' gates.  There are also numerous private schools in the area, Thomas's and Broomwood Hall to name but two.  

  %p
    The area's housing stock contributes to the family dominance and consists of predominantly terraced Victorian properties that are three or four bedrooms in their unextended state. Some Edwardian and 1920s properties can also be found closer to the "West Side" of Clapham Common. For those with deeper pockets, there are more substantial family houses to be found between the southern end of Bolingbroke Grove and Clapham Common Westside itself. There are a limited number of converted flats and maisonettes for first-time buyers and young professionals however, but you will be paying a premium to be living in the area which many clients after a flat south of the river are not prepared to pay. Gardens in this area are not big but with two commons so close by we do not consider this to be an enormous drawback. 

  %p
    The Northcote Road dissects the area and provides the locals with their main shopping street as well as a thoroughfare. It offers a huge range of independent specialist traders, child-oriented or brand-name boutiques, delis, cafés, wine bars, restaurants and a thriving food market.  Farrow and Ball and LK Bennett have even made it here! 
  
  %p
    Transport connections are excellent with direct access to the City via Clapham South tube, as well as mainline stations at Wandsworth Common and Clapham Junction, which provide fast routes to Waterloo and Victoria. 
  
  %p
    It will come as no surprise that the majority of clients who come to us wanting to live in this area are those with young families or those who are thinking along those lines.  Our favourite roads are Mallinson and Bennerly which host some of the larger houses but if you find being so close to the Northcote Road all too much and want some respite from the buggies, the roads closer to Clapham Common also host some lovely houses and are ofcourse closer to the tube.  This area certainly does not suit all but for those with young families it is hard to beat.  With so much outside space on your doorstep, good schools, easy routes into the city and great shopping, the area should certainly not be dismissed too quickly if you are looking for that family home. 
  

%p
  %em
    For more information on property in Between the Commons or elsewhere in London please contact       
    %a{:href=>'mailto:enquiries@londonpropertymatch.com'}enquiries@londonpropertymatch.com

%br/
%br/
%br/