- @layout = 'newsletters_layout'
- @title = 'Newsletter Autumn 2011'

%h2 
  =@title

.section

  %p The Summer is sadly over and the "Back to School" feeling is all we are left with. The beginning of the Summer for us was a busy one but as expected the month of August was really just about pushing the deals over the line.  The property market in London rolls on.  Overseas equity continues to flow into central London particularly for higher value houses and luxury apartments, where Savills report that price growth and transactions volumes have been strongest.  Transaction numbers in the over £5 million price bracket were the highest ever recorded in the three months to the end of June.   

  %p Sticking with the Back to School theme, Between the Commons, where two of the best state schools in London reside, seemed the most logical area for us to focus on.  We provide a run down on the area and Rampton Baseley, the area’s leading estate agent, look at prices there. Savills tells us the tale of the London and country markets and we highlight the best of what’s on in London this Autumn.

  %p 
    Sarah Snow&nbsp;&nbsp;&nbsp;Suzanne Emson&nbsp;&nbsp;&nbsp;Sarah Dixon
  %hr/

.section
  %h3 Between-the-Commons
  .media
    %img.imgExt{ :src=>"/images/between-the-commons.jpg"}
    Over the last twenty years it has seen its popularity boom...   
    %a{ :href=>"/newsletters/autumn-2011/between-the-commons.html" }Read more
  .clear
  %hr/

.section
  %h3 Property Prices Between-the-Commons
  .media
    %img.imgExt{ :src=>"/images/rampton-baseley-logo.jpg"}
    Rampton Baseley comment on property prices Between the Commons...
    %a{ :href=>"/newsletters/autumn-2011/between-the-commons-prices.html" }Read more
  .clear
  %hr/

.section
  %h3 A Tale of Two Markets
  .media
    %img.imgExt{ :src=>"/images/a-tale-of-2-markets.jpg"}
    Savills looks at the year the housing market in London and the rest of the UK became more polarised...
    %a{ :href=>"/newsletters/autumn-2011/a-tale-of-two-markets.html" }Read more
  .clear
  %hr/

.section
  %h3 What’s on in London this Autumn
  .media
    %img.imgExt{ :src=>"/images/london-buildings.jpg"}
    From plays to exhibitions we have summarised the best of things to see and do in London this Autumn...
    %a{ :href=>"/newsletters/autumn-2011/whatson.html" }Read more
  .clear
  %br/
  %br/
  %br/
  %br/
