- @layout = 'newsletters_layout'
- @title = "Newsletters | What's on in London this Autumn"

%h2 What's on in London this Autumn


%h3
  Theatre
%ul.simpleList
  %li 
    %a{ :href=>'http://www.donmarwarehouse.com/pl133.html' }Richard II- Donmar- 1st December- 4th February 2012
  %li 
    %a{ :href=>'http://www.trh.co.uk/book_tp.php' }The Tempest- Haymarket- Until 29th October
  %li 
    %a{ :href=>'http://www.coolhandluke.co.uk/' }Cool Hand Luke-Aldwych- 23rd September- 7th January
  %li 
    %a{ :href=>'http://www.boxoffice.co.uk/Arts-and-Theatre-Tickets/Plays/Driving-Miss-Daisy-Tickets.aspx?gclid=COj5oom_-aoCFZQMfAod0XfXLQ' }Driving Miss Daisy- Wyndhams Theatre-26th September- 17th December
  %li 
    %a{ :href=>'http://www.youngvic.org/whats-on/hamlet' }Hamlet- Young Vic- 28th October- 21st January
    
    


%h3
  Art
%ul.simpleList
  %li 
    %a{ :href=>'http://www.nationalgallery.org.uk/whats-on/exhibitions/leonardo-da-vinci-painter-at-the-court-of-milan' }Leonardo - National Gallery - 9th November-5th February 2012
  %li 
    %a{ :href=>'http://www.royalacademy.org.uk/exhibitions/degas/' }Degas and the Ballet- Royal Academy- 17th September- 11 December
  %li 
    %a{ :href=>'http://www.tate.org.uk/britain/exhibitions/johnmartin/default.shtm' }John Martin: Apocalypse- Tate Britain- 21st September- 15th January 2012
  %li 
    %a{ :href=>'http://www.vam.ac.uk/content/exhibitions/postmodernism/' }Style &amp; Subversion- V&A- 24th September – 15th January 2012
  %li 
    %a{ :href=>'http://www.tate.org.uk/modern/exhibitions/gerhardrichter/default.shtm' }Gerhard Richter: Panorama- Tate Modern- 6th October- 8th January 2012
  %li 
    %a{ :href=>'http://www.britishmuseum.org/whats_on/exhibitions/grayson_perry.aspx' }Grayson Perry: The Tomb of the Unknown Craftsman- British Museum- 6th October-19th February 2012
  %li 
    %a{ :href=>'http://www.royalacademy.org.uk/exhibitions/building-the-revolution/' }Building the Revolution: Soviet Art and Architecture 1915-35- Royal Academy- 29th October- 22nd January 2012
  %li 
    %a{ :href=>'http://www.friezeartfair.com/' }Frieze Art Fair-Regent's Park- 13th-16th October
  %li 
    %a{ :href=>'http://www.affordableartfair.com/uk/home/' }The Affordable Art Fair-Battersea Park-20th-23rd October, Hampstead-27th-30th October
  %li 
    %a{ :href=>'http://www.decorativefair.com/' }The Decorative Antiques &amp; Textiles Fair-Battersea Park-27th September-2nd October
  
  
%h3
  Other entertainment:
%ul.simpleList
  %li 
    %a{ :href=>'http://www.lth-hotels.com/london_events/metro-ski-snowboard-show.htm' }The Metro Ski and Snowboard Show-Earls Court- 19th -23rd October
  %li 
    %a{ :href=>'http://www.barclaysatpworldtourfinals.com/' }The ATP World Tour Finals-O2-20th-27th November
  %li 
    %a{ :href=>'http://www.spiritofchristmasfair.co.uk/' }House &amp; Garden Spirit of Christmas Fair-Olympia-2nd-6th November
  %li 
    %a{ :href=>'http://www.somersethouse.org.uk/ice-rink' }Skating at Somerset House




%br/
%br/
%br/
