- @title = 'About Us'
- @image = 'aboutus'

%p
  London Property Match is an independent property finding service that helps busy buyers find the right property,
  negotiate the best price and oversee the transaction through to completion.

%p
  We have worked extensively with all types of buyers; first timers, investors of all nationalities, growing
  families and those downsizing. We work for the buyer - we never sell property and therefore buyers'
  interests are always at the forefront of our minds. We do not advertise and the majority of our clients come
  to us through recommendations.

%p
  The Founding Members - Sarah Snow and Suzanne Emson had both worked for estate agents and
  individually developed many properties in London and the countryside.
  As a result of their experience friends and acquaintances began to ask for help and advice in finding homes.
  Realising that there was a need for a personal search service, London Property Match was born.



.buttonBar
  %a.prepend-360{ :href=>'about2.html' }
    %img.noborders.inline{ :src=>"/images/arrow-right.gif" }


