- @title = 'About Us'
- @image = 'aboutus'

%p Sarah Dixon - grew up in London and started in property as a conveyancing solicitor in the West End of London. Four years post qualification Sarah left the legal world and joined London Property Match. She bought with her invaluable legal know-how and an in-depth knowledge of Central, South and West London.

%p Tamara Colton - grew up in Canada and has extensive knowledge of the prime central London market having worked with estate agents in Kensington. She has experience in sales, letting and renovation which enables her to gain understanding of how to secure the best deal while remaining discreet and client focused at all times.




.buttonBar
  %a.padLeft{ :href=>'about.html' }
    %img.noborders.inline{ :src=>"/images/arrow-left.gif" }


