- @title = 'About Us'
- @image = 'aboutus'

%p London Property Match is a property finding service which aims to help buyers find and secure the most suitable London home.

%p The company was established by Sarah Snow and Suzanne Emson in 1999.  Before setting up the company Sarah and Suzanne both worked for estate agents and together have developed 32 properties in London.  Sarah Dixon joined the company in 2010 having grown up in London and spent 4 years as a commercial property solicitor in the West End. 


%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/