- @layout = 'comments_layout'
- @title = 'Comments'


%p
  %quote "...Thank you for your efficiency in finding a selection of properties to view, your negotiation skills over the purchase price, and your tenacity in ensuring that we did eventually exchange contracts"

%p
  %quote "...I am fairly certain that some poor estate agent would have come to a sticky end if I did not have you. Your services really were so valuable in both saving time and knowing where to look.." 
  %strong Alex

%p
  %quote "...I can safely say that without your help I would still be floundering around in an increasingly difficult market"

%p
  %quote "...A HUGE THANK YOU from the bottom of our hearts... I cannot begin to thank you for the INCREDIBLE job you do and FAR beyond the call of duty too - your kindness + fun quite apart from your expertise is truly AMAZING." 
  %strong Annelise

%p
  %quote "...May I thank you for all the kind support and advice you have offered me over the past few months, believe me it has been a real help and I appreciate everything you have done for me." 
  %strong Victoria

%p
  %quote "...I really cannot express how grateful I am to you both, you not only made house buying easy but hugely enjoyable and a great laugh!" 
  %strong Rosemary

%p
  %quote "...Despite the tricky sale you managed to make the whole affair really quite enjoyable! The care you both offered us was well beyond our expectations and we have recommended you both to absolutely everyone!" 
  %strong Jack

%p
  %quote "...I exchanged on a fabulous flat... and there is no doubt that I would never have managed that without Suzanne and Sarah's mix of patience, [and] cajoling... as well as their taking away all the hassle of dealing with estate agents, the sellers etc. It was money incredibly well invested and I shall recommend them to anyone." 
  %strong Arabella

%p
  %quote "...Thank you so much for finding us such a wonderful home, for all your help in pushing it through, and all your help in handling the negotiations. It is amazing to think that we went from first viewings to completion in less than 2 months!" 
  %strong Mark

%p
  %quote "...Thank you so much for your help, never have I invested so wisely" 
  %strong Rose, teacher

%p
  %quote "...From start to finish you've been a star, holding our hands all the way through and being extremely patient with lawyers and estate agents alike" 
  %strong Rob, solicitor

%p
  %quote "...I really wish I had used you 2 years ago when I started looking on my own..you were always cheerful and kept me going" 
  %strong Vanessa

%p
  %quote "...You made the experience hassle free and even enjoyable" 
  %strong Justine

%p
  %quote "...You have been a wonderfully reassuring voice, always available at the other end of the phone...we will have no hesitation in recommending you to our friends" 
  %strong Johan and Lee

%p
  %quote "...I really can't begin to thank you enough for all your kindness, patience, reassurance and most of all sound advice"




