- @title = 'Contact'
- @image = 'contactus'



%address
  %p
    19 Frewin Road<br/>
    London<br/>
    SW18 3LR<br/>

%dl
  %dt Sarah Dixon
  %dd Mobile: +44 (0)7884 433 059

%dl
  %dt Tamara Colton
  %dd Mobile: +44 (0)7703 847 303

%p
  %a{:href=>'mailto:enquiries@londonpropertymatch.com'}enquiries@londonpropertymatch.com

%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
