- @layout = 'home_layout'

%p London Property Match is an independent property finding service that helps busy buyers find the right property, negotiate the best price and oversee the transaction through to completion. 
%p Finding the right home or property investment in London can be time-consuming and stressful. We offer a bespoke service searching for, and advising on properties in Central, South and West London - saving buyers time, effort and, where possible, money.

