- @layout = 'home_layout'

%p London Property Match is a home-finding service, which aims to help busy buyers find the right property, negotiate the best price and oversee the transaction through to completion.

%p Finding the right home in London can be time-consuming and stressful. We offer a personal property search service in the Central, South and West areas of London and aim to help you through the whole process matching you, the buyer, to the most suitable property. Whether it be a studio, flat or a house you are after, we can help.