- @title = 'Media page 2'
- @image = 'media'


%h3 Evening Standard - December 1999
%p
  Moving house is considered the most stressful life event so why not pay someone else to take the strain.... As well as dealing with larger budgets London Property Match finds cheaper houses for the first time buyer. "We try and find them something with a bit of potential such as an attic they can build into"


.buttonBar
  %a.padLeft{ :href=>'media.html' }
    %img.noborders.inline{ :src=>"/images/arrow-left.gif" }
