- @title = 'Media'
- @image = 'media'


%h3 Daily Telegraph - February 2010

%p
  But what people can say is that buying agencies can be expensive. With the odd exception perhaps, such as London Property Match...
  %br/
  They charge only a &pound;587.50 signing-on deposit, plus one percent of the purchase price. "They’re these motherly figures who talk total common sense and cut through all the rubbish from the estate agents" says Mr H a Chelsea art dealer. They held our hands the whole way when we bought our house in Battersea." So perhaps it is time for the ladies to put their prices up?" "I think one per cent is quite enough, don’t you" replied Sarah Sn ow.
  
%h3 Time Out - November 2001
%p
  If you are buying your first flat and don't know where to start this is a service that could help you.


%h3 Financial Times - October 2001
%p
  Mr M...a management consultant...having failed to buy on his own, through lack of time... used London property Match to do it for him. Following an initial meeting to determine his exact requirements, the company viewed 25 properties before showing him six, organising viewings at half-hourly intervals and driving him round. Three weeks later his offer...was accepted...which the buying agents had seen before it came on the market...While lack of time was his initial reason for using a home finder, he feels the expert guidance was of equal value, "They had a very good eye for things which were over-priced and they knew when something had been on the market for a long time... They added knowledge I simply didn't have".

%h3
  Evening Standard - December 1999
%p
  Moving house is considered the most stressful life event so why not pay someone else to take the strain.... As well as dealing with larger budgets London Property Match finds cheaper houses for the first time buyer. "We try and find them something with a bit of potential such as an attic they can build into", explain Sarah and Suzanne, "We sniff out the rubbish and put people into sensibly run flats so that they don't come a cropper later."


