- @title = 'Media'
- @image = 'media'
  
  
%h3 Daily Telegraph - February 2010

%p
  \...But what people can say is that buying agencies can be expensive.  With the odd exception perhaps, such as London Property Match...

%p
  They charge only a &pound;587.50 signing-on deposit, plus one percent of the purchase price.
  "They're these motherly figures who talk total common sense and cut through all the rubbish from the estate agents"
  says Mr H a Chelsea art dealer. "They held our hands the whole way when we bought our house in Battersea."
  So perhaps it is time for the ladies to put their prices up?" "I think one per cent is quite enough, don't you" replied Sarah Snow.
  
%h3 Financial Times - October 2001
%p
  Mr M...a management consultant...having failed to buy on his own, through lack of time... used London property Match to do it for him.
  Following an initial meeting to determine his exact requirements, the company viewed 25 properties before showing him six...
  Three weeks later his offer...was accepted... on a...house which the buying agents had seen before it came on the market...
  While lack of time was his initial reason for using a home finder, he feels the expert guidance was of equal value,
  "They had a very good eye for things which were over-priced and they knew when something had been on the market for a long time...
  They added knowledge I simply didn't have".

.buttonBar
  %a.prepend-360{ :href=>'media2.html' }
    %img.noborders.inline{ :src=>"/images/arrow-right.gif" }
