- @layout = 'newsletters_layout'
- @title = 'Newsletter | Spring 2011'

%h2 
  =@title

.section

  %p Our New Year wish of more stock was sadly not granted.  Supply is down 50% on its 15 year average. The continued lack of supply has led to a significant price rise this quarter.  Prime central London values were up 2.8%, Kensington, Holland Park and Notting Hill are reporting price rises of 4.3%.  Most of our clients have had to offer the asking price and above over the last few months but the important fact is that we are still securing property for our clients and the need for our contacts and advice appears ever more important.

  %p In this issue we discover Battersea, Savills comment once more on the market, Forsters explain how to extend your short lease and we list the best of what’s on in London over the next few months.  

  %p 
    We wish you a very happy Easter.

  %p 
    Sarah Snow&nbsp;&nbsp;&nbsp;Suzanne Emson&nbsp;&nbsp;&nbsp;Sarah Dixon
  %hr/

.section
  %h3 Battersea
  .media
    %img.imgExt{ :src=>"/images/battersea2.jpg"}
    Sarah Dixon comments "When I first joined London Property Match I have to admit I always wondered why people loved Battersea so much"...  
    %a{ :href=>"/newsletters/spring-2011/battersea.html" }Read more
  .clear
  %hr/

.section
  %h3 Property Prices in Battersea
  .media
    %img.imgExt{ :src=>"/images/douglas-and-gordon-logo.jpg"}
    Douglas and Gordon comment on property prices in Battersea...
    %a{ :href=>"/newsletters/spring-2011/battersea-prices.html" }Read more
  .clear
  %hr/

.section
  %h3 Market Update
  .media
    %img.imgExt{ :src=>"/images/house-question.jpg"}
    Savills comment on market "The prime central London residential market continues to confound expectations by recording its sixth consecutive quarter of growth, with values rising 2.8 percent since the turn of the year"...
    %a{ :href=>"/newsletters/spring-2011/housingmarket.html" }Read more
  .clear
  %hr/

.section
  %h3 Extending your lease?
  .media
    %img.imgExt{ :src=>"/images/forsters-logo.jpg"}
    Chris Myers from Forsters gives us a plain English guide to extending your lease...
    %a{ :href=>"/newsletters/spring-2011/extending-lease.html" }Read more
  .clear
  %hr/

.section
  %h3 What's on in London this Spring?
  .media
    %img.imgExt{ :src=>"/images/london-buildings.jpg"}
    From plays to exhibitions we have summarised the best of things to see and do in London this Spring...
    %a{ :href=>"/newsletters/spring-2011/whatson.html" }Read more
  .clear
  %br/
  %br/
  %br/
  %br/
