- @title = 'Questions page 3'
- @image = 'questions'



%dl
  %dt Can I see your terms and conditions?
  %dd 
    Please click to see our 
    %a{:href=>'files/terms_and_conditions.pdf'}terms and conditions (PDF).

%dl
  %dt What do we do now?
  %dd Call us to talk further. Click on the Contact button above for all our contact details.
  

.buttonBar
  %a.padLeft{ :href=>'questions2.html' }
    %img.noborders.inline{ :src=>"/images/arrow-left.gif" }