- @title = 'Questions page 2'
- @image = 'questions'


%dl
  %dt What value range of properties will you search for?
  %dd From &pound;500,000 upwards.

%dl
  %dt How much do you charge?
  %dd
    We ask for an initial retainer fee to begin our search of £pound;500 + VAT.
    The fee is then calculated at the higher of £pound;6,250 or 1.25% of the purchase price of the property plus VAT.
    This is payable on the exchange of contracts.

.buttonBar
  %a.padLeft{ :href=>'questions.html' }
    %img.noborders.inline{ :src=>"/images/arrow-left.gif" }
