- @title = 'Questions'
- @image = 'questions'


%dl
  %dt What areas in London does London Property Match search?
  %dd We currently operate in Central, West and South West London.

%dl
  %dt Do you have access to 'off market' properties?
  %dd
    Yes. Due to our established network we regularly hear about properties before they come to the market.
    Regular meeting with our contacts ensure our clients' briefs are in the forefront of their minds.

%dl
  %dt What is the typical search?
  %dd
    There is no such thing. We help anyone looking for a studio flat with a budget of &pound;500,000 to a
    large multi-million pound family home or investment property.

%dl
  %dt Why should we not go straight to the Estate Agents?
  %dd
    Estate agents work for and are paid by the seller. They only have access to the properties they are instructed
    to sell and require the highest possible price. We work exclusively for you - the buyer.

%dl
  %dt How long do you take to find a property?
  %dd
    Each case is different. It can take anything from two weeks to numerous months depending on our clients brief
    and market conditions.  On average it takes two to three months.


.buttonBar
  %a.prepend-360{ :href=>'questions2.html' }
    %img.noborders.inline{ :src=>"/images/arrow-right.gif" }

