- @title = 'Questions page 2'
- @image = 'questions'

%dl
  %dt How long do you take to find a property?
  %dd Each case is different but it can take anything from two weeks to four months.

%dl
  %dt From where do you get properties? 
  %dd Through our well established contacts with estate agents in Central, South and West London. They keep us constantly in touch with new properties about to come to market. We are also contacted directly by sellers and even former clients who want to market their property privately.
  
%dl
  %dt Can I see your terms and conditions?
  %dd 
    Please click to see our 
    %a{:href=>'files/terms_and_conditions.pdf'}terms and conditions (PDF).
  

.buttonBar
  %a.padLeft{ :href=>'questions.html' }
    %img.noborders.inline{ :src=>"/images/arrow-left.gif" }
