- @title = 'Questions'
- @image = 'questions'


%dl
  %dt What area in London, does London Property Match search?
  %dd We currently operate in the South, Central and West areas of London.
  
%dl
  %dt What is the typical search?
  %dd There is no such thing.  We help anyone looking for studio flats to large family homes.

%dl
  %dt How much do you charge?
  %dd We ask for an initial retainer fee to begin our search of&pound;500 plus VAT. The fee is then calculated at the higher of&pound;5,000 or 1% of the purchase price of the property plus VAT. The retainer fee is deducted from the final fee.

%dl
  %dt What does the retainer fee cover?
  %dd The retainer fee covers a four month search period. In the event that a client changes the brief during a search, or a suitable property is not found by us, we will retain the initial fee and have the right to charge additional reasonable expenses. 

%dl
  %dt Why should we not go straight to the Estate Agents?
  %dd Estate agents work for and are paid by the seller, whereas we work exclusively for you the buyer. 


.buttonBar
  %a.prepend-360{ :href=>'questions2.html' }
    %img.noborders.inline{ :src=>"/images/arrow-right.gif" }

