- @title = 'Questions page 2'
- @image = 'questions'

%dl
  %dt How long do you take to find a property?
  %dd Each case is different but it can take anything from two weeks to four months.

%dl
  %dt From where do you get properties?
  %dd Through our well established contacts with estate agents in Central, South and West London. They keep us constantly in touch with new properties about to come to market. We are also contacted directly by sellers and even former clients who want to market their property privately.

%dl
  %dt What do we do now?
  %dd Call us to talk further. Click on the Contact button above for all our contact details.


.buttonBar
  %a.padLeft{ :href=>'questions.html' }
    %img.noborders.inline{ :src=>"/images/arrow-left.gif" }
