- @title = 'Services'
- @image = 'ourservices'

%h3 Personal Meeting
%p
  A personal meeting, whether it be in your home, near your place of work or over the
  Internet will give us a clear idea of your requirements and budget. We can also discuss current market
  conditions and advise on possible options regarding areas and property.

%h3 Finding
%p
  With your brief in hand we will source potential properties through our various contacts.
  Having worked in London since 1999 we have built up a large network and we hear of properties
  before they are offered to the open market. We preview anything suitable and only show you those
  that match your brief - thus saving you considerable time and wasted visits.

%h3 Accompanied Viewings
%p
  We will organise and accompany you on viewings explaining the pros and cons of each property and pointing out
  potential where changes might improve the property.


.buttonBar
  %a.prepend-360{ :href=>'services2.html' }
    %img.noborders.inline{ :src=>"/images/arrow-right.gif" }

