- @title = 'Services'
- @image = 'ourservices'

%h3 Find
%p Having established your exact requirements, location and budget, preferably with a personal meeting, we would ask you for a retainer fee, on receipt of which our search begins. Through our network and contacts we seek out potential properties and arrange appointments for you to view only those suitable, thus saving you those wasted evenings and weekends spent house-hunting.

%h3 Advise
%p We accompany you on all viewings and will explain the advantages and disadvantages of each property. We can also advise you at what level you should offer.

%h3 Negotiate
%p We can negotiate on your behalf and with 25 years of experience in the London property market we aim to avoid the pitfalls which can occur and guide you through to successful completion.

%h3 Introduce
%p We can also recommend solicitors, independent financial advisers, architects and surveyors. Should you need help with renovation work, we can suggest a project management and interior design service.

