- @title = 'Services'
- @image = 'ourservices'

%h3 Find
%p A personal meeting will give us a clear idea of your requirements and budget. We can then source potential properties through our various networks. We will arrange for you to view only those properties suitable, thus saving you wasted evenings and weekends spent house hunting. 

%h3 Negotiate
%p We negotiate on your behalf and with 30 years' experience in the London property market we aim to avoid the pitfalls which can occur and guide you through to completion. 

%h3 Introduce
%p We can also recommend solicitors, independent financial advisers, architects, surveyors and project managers.

