- @title = 'Services'
- @image = 'ourservices'


%h3 Negotiate
%p We advise you how best to offer and negotiate on your behalf avoiding the pitfalls which can occur.

%h3 Guidance and Introductions
%p
  We work with you until completion and the keys are in your hand. We can recommend solicitors, lease extension specialists,
  financial advisors, surveyors and other relevant professional. We will liaise with all parties, provide regular updates
  and guidance throughout the conveyancing process.

.buttonBar
  %a.padLeft{ :href=>'services.html' }
    %img.noborders.inline{ :src=>"/images/arrow-left.gif" }

