- @layout = 'newsletters_layout'
- @title = 'Newsletter - Winter'

%h2 Newsletter | Winter 2011

.section
  %h3 Belated Happy New Year! 

  %p Estate agents and buying agents had hoped the start of the year would bring more stock to the market.  If January is anything to go by our prayers may not be answered.  Good property, correctly priced, is still flying off the shelves and often going for above the asking price.  We can but hope the situation improves.

  %p This issue we have moved only ever so slightly east from Brook Green to Notting Hill. We have introduced the area to those of you that are unfamiliar with it, Bective Leslie Marsh have kindly commented on the property prices there, Savills have produced a market update for us and William Sturges have explained co-ownership of property. Many thanks to all the contributors.

  %p 
    Before we sign off I think it would be worth reminding you all of the forthcoming rise in Stamp Duty from 4% to 5% for residential purchases over &pound;1m which complete on or after 6th April. If you have had an offer accepted on a property for over &pound;1m do make sure you complete (not just exchange) your purchase in time. On a property purchased at &pound;1,000,001 completing before 6th April will save you &pound;10,000. 

  %p 
    Sarah Snow&nbsp;&nbsp;&nbsp;Suzanne Emson&nbsp;&nbsp;&nbsp;Sarah Dixon
  %hr/

.section
  %h3 Notting Hill
  .media
    %img.imgExt{ :src=>"/images/notting-hill.jpg"}
    Over the past 30 years Notting Hill has evolved from the poor neighbour to Chelsea and Kensington into arguably London's most fashionable district...
    %a{ :href=>"/newsletters/winter-2011/notting-hill.html" }Read more
  .clear
  %hr/

.section
  %h3 Property Prices in Notting Hill
  .media
    %img.imgExt{ :src=>"/images/bective-leslie-marsh-logo.jpg"}
    Bective Leslie Marsh comment...
    %a{ :href=>"/newsletters/winter-2011/notting-hill-prices.html" }Read more
  .clear
  %hr/

.section
  %h3 Market Update
  .media
    %img.imgExt{ :src=>"/images/house-question.jpg"}
    Savills comment on market "Over the next five years the division between the best and the rest is set to widen, with prime central London house prices expected to rise by 33% compared to a UK average of 12%"...
    %a{ :href=>"/newsletters/winter-2011/housingmarket.html" }Read more
  .clear
  %hr/

.section
  %h3 Owning Property Jointly?
  .media
    %img.imgExt{ :src=>"/images/william-sturges-logo.jpg"}
    Sophie Breakwell, a partner at William Sturges, explains the options for owning property jointly in England...
    %a{ :href=>"/newsletters/winter-2011/owning-property-jointly.html" }Read more
  .clear
  %hr/

.section
  %h3 What's on in London this Winter?
  .media
    %img.imgExt{ :src=>"/images/london-buildings.jpg"}
    From plays to exhibitions we have summarised the best of things to see and do in London this Winter...
    %a{ :href=>"/newsletters/winter-2011/whatson.html" }Read more
  .clear
  %br/
  %br/
  %br/
  %br/
