- @layout = 'newsletters_layout'
- @title = 'Newsletters | Notting Hill'

%h2 Notting Hill

%p 
  Over the past 30 years Notting Hill has evolved from the poor neighbour to Chelsea and Kensington into arguably London's most fashionable district.  It is most famous for the annual Notting Hill Carnival (the largest street festival in the world after Rio), Portobello Market and the 1999 film <em>Notting Hill</em>.  Stretching from Kensington Gardens at one end to Holland Park at the other, it is filled with peaceful residential squares with beautiful communal gardens, traditional pubs, fine restaurants and boutiques. A quick look at the history of the area however shows that rather interestingly this has not always been the case. 

%p 
  In AD 700 when the Saxons arrived, the sons of Cynesige founded Cheniston (Kensington) while the sons of Cnotta moved further up the hill to Notting Hill.  For centuries the area was known only for its roadside inns and gravel pits at the top of Kensington Church Street. In the 19th Century the hamlet of Notting Hill had turned into a village.  At that time it was known as "the Potteries and Piggeries" because the first people that moved into the area were brick and pottery makers, followed by pig keepers. With the arrival of a railway line in 1864 the last remaining fields soon became covered by shops and homes. 

%p 
  At the beginning of the 20th Century Notting Hill was all about art and alternative culture.  Amazing as it may seem now it was one of the worst areas in London at that time.  In the 1950's it was a destination for Carribean immigrants and a decade later the scene for the Notting Hill race riots.   Today Notting Hill finds itself a prime central London location where bohemian meets cool. It is the amazing shopping and restaurants that are on offer here which together with its transport connections make this a very sought after area to live in.
  
%p 
  The shopping in Notting Hill could not be more diverse, there is everything from second hand books in Blenheim Crescent to designer clothes in Westbourne Grove. The famous Portobello Market has been going since 1837 and is every Friday and Saturday.  If it is antiques and jewellery you are after it is the southern end of the market that you must head to.  

%p 
  Eating and drinking options in and around Notting Hill are numerous.  If pubs are more your thing The Cow on Westbourne Park Road should be a strong contender for reasonably priced good food and cheery Irish atmosphere.  Top pick out of the restaurants has to be The Ledbury on Ledbury Road with 2 Michelin Stars.  E&O on Blenhiem Crescent is a close second favourite but a glance in any dining guide will quickly prove that Notting Hill is a gastronome's dream. 

%p
  Apart from beautiful property, fantastic shopping and good food Notting Hill is also popular due to the transport the area offers.  The central, district and circle lines all run from Notting Hill tube and take you straight into the West end and on into the City. The Hammersmith and City line runs from the nearby Ladbroke Grove Station.  Paddington Station is just over a mile away, with trains to the west, south west, Wales and the Cotswolds and a 15 minute train service to Heathrow.   

%p
  Over the years we have assisted many a client looking in this area anyone from first time buyers after a flat to families wanting a large family house with gardens to match.  When looking to buy although the leafy avenues south of Notting Hill Gate are attractive, as is Pembridge Road to the north, which leads to the boutique filled streets of Westbourne Grove and Ledbury Road you do want to try and avoid these main avenues which can host the bus routes and concentrate on the streets that run off these roads. The streets around the market should also be avoided unless you do not mind playing hostage in your own home on Fridays and Saturdays.  Lastly it is important to know that not all of the area is in the Royal Borough, some of the area finds itself in Westminster and so if the Kensington and Chelsea parking permit is a must for you do check to see that the property you fall in love with is appropriately located.
  
%p
  %em
    For more information on finding properties in Notting Hill or in other areas of London please contact us at 
    %a{:href=>'mailto:enquiries@londonpropertymatch.com'}enquiries@londonpropertymatch.com

%br/
%br/
%br/