- @layout = 'newsletters_layout'
- @title = 'Newsletters | Market Update'

%h2 Market Update


%p The property market in Prime Central London enjoyed significant growth last year and reached new highs due to the acute shortage of property. This year confidence has ebbed and flowed and prices have softened. Agents are currently reporting strong activity in certain areas and at certain price brackets with sealed bids for realistically priced properties. 
 
%p Nationally there is a general feeling of foreboding due to the economic outlook and this is undermining confidence. With nominal interest rates at a 300 year low and negative real interest rates, there is the prospect the Bank of England will have to resort to more quantitative easing as the velocity of money slows. Theoretically printing more money should be inflationary, which in turn would reduce nominal debts to the benefit of the property market. 
 
%p The fiscal position outlined by the Bank of International Settlements (Working Paper 300) is acute and this means the coalition government has no alternative, but to cut expenditure, even though the economy is still balanced on a knife edge. The government spending review is due on 20th October and this is when the severity of the cuts will be revealed. This is likely to exert negative pressure on the general housing market.

%p Prime Central London whilst not immune to the travails of the economy and the national property market, is somewhat different due to the high percentage of foreign buyers. Many of these purchasers are buying due to the weakness of the pound and they wish to keep the property as a long term family investment. This is suppressing supply. It should also be noted many of the owners buy in cash and consequently will not be influenced by any fluctuation in interest rates. The proportionate growth in the long term international owner is likely to continue due to the influx of both the Indians and the Chinese. As long as London remains a favoured destination the supply of good quality properties will be absorbed, which in turn will reduce supply and help support prices. 
 
%p Taking a long term view and good advice in this market is essential.

%p For more information please contact James Wyatt, head of valuation and surveying at John D Wood, on 020 7908 1101