
.footer
  %p
    For more information email, 
    %a{:href=>'mailto:enquiries@londonpropertymatch.com'}enquiries@londonpropertymatch.com
    %br/
    Copyright &copy; 2010 London Property Match, all rights reserved.
    %br/
    Created by 
    %a{:href=>'http://www.emson.co.uk'}www.emson.co.uk
  %br/
  %br/
  %br/

