!!! Strict
%html{html_attrs('en-en')}

  = partial('partials/_header')
        
  %body
    .padTop50
      .page.pagebg
        .header
          = partial('partials/_menu')
        .clear
        .unit.width250.sideBar
          %a{ :href=>'/', :title=>'London Property Match: home page' }
            %h1.logo London Property Match
        
        .unit.span-500
          .wrapper.bkgrd
            .content.bkgrd
              = yield

        .clear
      .page
        %img{ :src=>"/images/home_image.jpg", :class=>'showImg bkgrd' }
    
