!!! Strict
%html{html_attrs('en-en')}
  %head
    %title 
      London Property Match 
      | 
      = @title
    
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html;charset=UTF-8' }/
    %meta{ :name => 'keywords', :lang => 'en', :content => 'London, property, property match' }/
    %meta{ :name => 'description', :lang => 'en', :content => "London Property Match, London's most experienced and friendly home-finding service." }/
    %link{ :href => 'stylesheets/styles-lpm.css', :media => 'all', :rel => 'stylesheet', :type => 'text/css' }/
        
    %body
      .page.pagebg
        .header
          .prepend-250.span-710
            = partial('partials/_menu')
        .clear
        .unit.width250.sideBar
          %a{ :href=>'/', :title=>'London Property Match: home page' }
            %h1.logo London Property Match
          
        .unit.span-500
          .wrapper.bkgrd
            .content.bkgrd
              = yield

        .clear
      .page
        %img{ :src=>"images/home_image.jpg", :class=>'showImg bkgrd' }
        = partial('partials/_footer')
    
