- @layout = 'newsletters_layout'
- @title = 'Newsletter - Winter'

%h2 Newsletter | Winter 2012

.section
  %h3 Belated Happy New Year!

  %p With Rightmove reporting stock levels being at their lowest in ten years and with a record number of house hunters registered, it will come as no surprise that good property is flying off the shelves and to secure it you will more than likely find yourself having to go to sealed bids.  In January all the purchases we made on behalf of clients went to sealed bids.  Amazingly we won four out of five of them.

  %p In this issue we focus on Shepherd’s Bush, an area that perhaps is the last of the areas we search in central London that offers value for money.  Savills talk us through their predictions for the property market over the next five years and as usual we summarise the best of what’s on in London this Winter.

  %p Happy reading!
  %p
    Sarah Snow&nbsp;&nbsp;&nbsp;Suzanne Emson&nbsp;&nbsp;&nbsp;Sarah Dixon
  %hr/

.section
  %h3 Shepherd's Bush
  .media
    %img.imgExt{ :src=>"/images/shepherds-bush.jpg"}
    The Evening Standard described Shepherd’s Bush as having rough-diamond character, an area which rubs shoulders with the swankiest addresses in town...
    %a{ :href=>"/newsletters/winter-2012/shepherds-bush.html" }Read more
  .clear
  %hr/

.section
  %h3 Property Prices in Shepherd Bush
  .media
    %img.imgExt{ :src=>"/images/winkworth-logo.jpg"}
    Winkworth comment on property prices in Shepherds's Bush...
    %a{ :href=>"/newsletters/winter-2012/shepherds-bush-prices.html" }Read more
  .clear
  %hr/

.section
  %h3 Market Update
  .media
    %img.imgExt{ :src=>"/images/house-question.jpg"}
    Prime central London is currently at a record level, +15.6% over peak and forecast to grow by +22.7% by the end of 2016, outperforming many commodities...
    %a{ :href=>"/newsletters/winter-2012/housingmarket.html" }Read more
  .clear
  %hr/

.section
  %h3 What's on in London this Winter?
  .media
    %img.imgExt{ :src=>"/images/london-buildings.jpg"}
    From plays to exhibitions we have summarised the best of things to see and do in London this Winter...
    %a{ :href=>"/newsletters/winter-2012/whatson.html" }Read more
  .clear
  %br/
  %br/
  %br/
  %br/
