- @layout = 'newsletters_layout'
- @title = 'Newsletters | Shepherd\'s Bush'

%h2 Shepherd's Bush

%p 
  With clients being priced out of Notting Hill but desperately not wanting to stray too far, Shepherd's Bush does offer considerably cheaper alternatives.  We define Shepherd's Bush as the area in between the Goldhawk and Uxbridge Road (also known as the Golden Triangle) and the area just north of the Uxbridge Road extending west as far as the Askew Road.  Prices aside there are a number of reasons which draw alot of people to this area.  Top of the list is perhaps transport.

%p
  With Shepherd's Bush being on the central line and Shepherd's Bush Market on the Hammersmith and City line, it is an area favoured by city and west end workers.  The journey time of 10 minutes to Oxford Circus is, for many, a massive draw.  The A40 is moments away and, with the A4 not being much further, for those who frequently head west it could not be more convenient.

%p
  Schools are plentiful, with the better state primaries being; St Stephens Church of England School on the Uxbridge Road, Good Shepherd by Gayford Road and Wendell Park on Cobbold Road.  Brackenbury Village hosts the best state primary school but the catchment area does not extend out of the Village, an area that merits its own piece at a future date.  The private primary schools are Latymer Junior School and Ravenscourt Park School, with secondary education being represented close by by St Pauls Girl School and Goldolphin and Latymer.

%p
  We could not go any further without mentioning Westfield.  It might frighten some but no one can deny that whether it is visited for a trip to Waitrose, the cinema, or a shopping extravaganza, it is extremely convenient to have on one's doorstep. Foodies will be pleased to hear that gastropubs are on the rise in the area with the Princess Victoria and The Queen Adelaide topping the list.

%p
  As to where we advise to buy in the area, we would suggest staying south of Uxbridge Road if possible.  Apart from one or two hidden hideaways found to the north "better" roads can be found to the south.  Most of the clients who come to us wanting this area are those looking for "affordable" family homes.   Streets we particularly favour are around Percy Road.  The larger houses can be found on Boscombe Road but roads such as Hadyn Park Road and Roxwell Road do offer good cheaper alternatives.  Those seeking better value still are starting to cross the Askew Road and buy around Wendell Park, an area to be discussed in depth at a later date.

%p
  %em
    For more information on finding properties in Shepherd's Bush in other areas of London please contact us at 
    %a{:href=>'mailto:enquiries@londonpropertymatch.com'}enquiries@londonpropertymatch.com

%br/
%br/
%br/

