- @layout = 'newsletters_layout'
- @title = 'Newsletters | Property Prices in Shepherd\'s Bush'

%h2 Property Prices in Shepherd's Bush

%p
  It was quite a year last year for the Shepherd's Bush property market and with all the exciting developments rolling out over the coming twelve months it looks likely to go from strength to strength. Having said that this is still an area where the buyer can prosper offering as it does good value by zone 2 standards and the potential for plenty of future growth.  In fairness "future growth" is a pretty thin reason to buy into an area, the only really good reason, in my as ever humble opinion, is quality of life.  And that, in tandem with the property market, has improved immeasurably.

%p
  It started in 2008 with the opening of the Westfield Shopping Centre and the now near legendary Princess Victoria.  A top flight gastro pub in the Bush?  Bound to fail the nay Sayers said. Well in fact it prospered and in her royal wake we saw the opening of The Queen Adelaide and the Hummingbird café. Further evidence of our march towards gentrification was delivered with the opening of a branch of The Ginger Pig on Askew Road a couple of months ago, those sausage rolls... sublime.

%p
  And so to this year. The big news here is the redevelopment of the historic Shepherds Bush Market. This exciting project is being styled on the Spitlefields Market model and will be offering yet more chi-chi eateries, artisan shops and beautiful public spaces.

%p
  Prices in the area are being driven up by a combination of increased demand and shortening supply. In the first three weeks of this year Winkworth Shepherd's Bush agreed sales on nineteen units, an all time record, whereas new instructions were running behind expected levels. A recipe then for stiff competition. The increases are not consistent across the range of property types; but was is consistent is that all have increased in value since the increasingly inaccurately named "peak market" of 2007. The family house sector is the most extreme growth area showing an increase from 2007 of around 14%. W12 still offers good value for money but this generation of buyers may be among the last to enjoy substantial capital growth as the area enters what is perhaps it's final promotion to gentrification. Last of the smart money? Very possibly.

%p
  %em
    For more information on house prices in Shepherd's Bush please contact Simon Walker 
    %a{:href=>'mailto:swaller@winkworthsb.co.uk'}swaller@winkworthsb.co.uk
%br/
%br/
%br/
