- @layout = 'newsletters_layout'
- @title = "Newsletters | What's on in London this Winter"

%h2 What's on in London this Winter


%h3
  Theatre
%ul
  %li
    %a{ :href=>'http://www.donmarwarehouse.com/pl142.html' }The Recruiting Officer-Donmar 9 February-14 April
  %li
    %a{ :href=>'http://www.nationaltheatre.org.uk/68378/productions/she-stoops-to-conquer.html' }She Stoops to Conquer-National 24 January-28 March
  %li
    %a{ :href=>'http://www.winkworth.co.uk/sale/property/SHE110413' }The Madness of George III-Apollo until 31 March
  %li
    %a{ :href=>'http://www.london-theatreland.co.uk/theatres/novello-theatre/crazy-for-you.php' }Crazy for You-Novello until 17 March




%h3
  Art
%ul
  %li
    %a{ :href=>'http://www.royalacademy.org.uk/exhibitions/hockney/tickets/?utm_source=Google&utm_medium=CPC&utm_term=Tickets&utm_campaign=Hockney' }David Hockney -Royal Academy 21 January-9 April
  %li
    %a{ :href=>'http://www.npg.org.uk/freudsite/index.htm' }Lucian Freud -National Portrait Gallery 9 February-27 May
  %li
    %a{ :href=>'http://www.tate.org.uk/britain/exhibitions/picassoandbritain/default.shtm' }Picasso and Modern British Art -Tate Britain 15 February-15 July
  %li
    %a{ :href=>'http://www.tate.org.uk/modern/exhibitions/yayoikusama/default.shtm' }Yayoi Kusama -Tate Modern until 5 June
  %li
    %a{ :href=>'http://www.bl.uk/royal?ns_campaign=Royal_Manuscripts&ns_mchannel=Total_Media&ns_source=Google&ns_linkname=Banner&ns_fee=0&gclid=CIKZvaXdna4CFYgmtAodcjcDIQ' }Royal Manuscripts: The Genius of Illumination-British Library until 13 March 





%br/
%br/
%br/
