- @layout = 'newsletters_layout'
- @title = 'Newsletters | Property Prices in Battersea'

%h2 Property Prices in Battersea

%p
  10 years ago I lived in a flat by the river in Battersea, between Wandsworth Bridge and Battersea Bridge, with a good chum. We used to spend summers either walking over the bridge to the King's Road, or enjoying refreshments in one of Battersea Square's watering holes, after playing tennis in Battersea Park. In the winter we would spend time in the Ship Pub on the river, and relied a little more on public transport than foot to get around. It always bemused us when our fathers would suggest to us disdainfully that we lived closer to Brighton than to London, such was there ill-judged misconception of Battersea!
  
%p
  These days the very good schools, hundreds of acres of green spaces, superb transport links, fantastic pubs and restaurants all contribute to why it's fast becoming one of the most popular places to live in London. 
  
%p
  Like everywhere, prices inevitably suffered during the downturn of 2008-2009, however they have rebounded very well with the average flat now about 5% above the peak of 2007, and even higher for houses with a jump to around 20% above the peak. What has become apparent is how important the location is, as certain "prime locations" such as properties overlooking Battersea Park have jumped up closer to 20% from the peak, whilst other less desirable spots are still a little down on what they might have achieved in 2007.  In fact certain parts of Battersea have properties that are very rapidly catching up with their neighbours across the water in Chelsea. We have just sold a house overlooking Battersea Park for &pound;3,400,000 at over &pound;1,000/sqft. Considering we sold an almost identical house in 2006 a few doors down for &pound;2,150,000, it just goes to show how far the market has risen, particularly for popular locations.
  
%p
  Looking at the figures from the last few months we can draw a better picture;

%p
  We had 20% more applicants registering in February and March 2011 against the same months in 2010, and took on 20% less property than the same period in 2010. This clear imbalance of supply and demand suggests that prices certainly aren't going to be dropping anytime soon, if anything it points towards a probable increase. March was our busiest month in over four years, and we had a huge amount of buyers bidding competitively against each other, helping set some record prices.
  
%p
  We have seen plenty of buyers moving south from Chelsea as they realise how much further their budget goes, especially when they can live next to London's prettiest bridge (Albert), and still be a 10 minute walk to the King's Road. Due to a relatively weak sterling, coupled with historically low interest rates, we are seeing a large number of investors from abroad as well as British buyers looking to take advantage before the rates start to creep up. With all this economic uncertainty out there, it is encouraging to see that London property still proves to be one of the safest investments going, with more and more buyers jumping on the Battersea bandwagon as they realise how much it has to offer.

%p
  Long gone are the days when a nose was turned up when the words "south of the river" were mentioned... Battersea might just turn out to be one of the best places to buy in London.

  
%p
  %em
    For more information please contact Mark Hutton at Douglas and Gordon: 
    %a{:href=>'mailto:mhutton@dng.co.uk'}mhutton@dng.co.uk<br/>
    To have a look at what is for sale with Douglas and Gordon in Battersea visit 
    %a{:href=>'http://www.dng.co.uk'}www.dng.co.uk
%br/
%br/
%br/