- @layout = 'newsletters_layout'
- @title = 'Newsletters | Battersea'

%h2 Battersea

%p
  When I first joined London Property Match I have to admit I always wondered why people loved living in Battersea so much.  For me the one and very important down side was the lack of a tube station.  How my opinion has changed.  Having moved to Wandsworth a year ago, which is also short of a tube station, and I had to quickly become reliant on the overland system.  Not only do I wish I had discovered this system sooner in life but that a lack of a tube station should never be held against an area.  Battersea has the overland stations of Queenstown Road and Battersea Park which take you quickly into Victoria and Waterloo and with bus routes a plenty all transport concerns should be dismissed.  I, for one, am now a complete convert to Battersea not only because of this realisation but also for the reasons below. 
  
%p
  We have many clients coming to us wanting a property in K&amp;C who quickly become disappointed with what their budget will buy them. Those who allow us to take them across the river are,  more often than not, amazed about how much more their money buys them in Battersea and actually how central they still are.  Living in north Battersea can only be a ten minute walk away from Chelsea.  What also persuades many is having the open space of Battersea Park on their doorstep.  The mansion blocks along Prince of Wales Drive and Albert Bridge Road trade at a premium for their proximity to the park and are probably one of the safest investments money can buy in London. 
  
%p
  Another surprise is the variety of property Battersea offers.  Not only are there the highly regarded mansion blocks close to the park, you also have the lovely houses in the streets known as "The Sisters" close to Albert Bridge, modern property such as converted schools and warehouses, smaller houses in "Little India" close to Clapham Junction, the "Diamond Conservation Area" either side of the Queenstown Road and the grander houses on such streets as Anhalt and Worfield.  There really is something for everyone.  Time and time again, as search agents, we find ourselves in the area with clients.
  
%p
  There are great pubs in the area, The Duke of Cambridge being my favourite but The Lighthouse and The Prince Albert also deserve a mention.  If it is a non-expensive quick delicious bowl of pasta you are after, Antipasto &amp; Pasta on Battersea Park Road cannot be beaten.  For finer dining head to Tom Ilic on the Queenstown Road or the eateries on Parkgate Road, The Butcher and Grill and Ransom’s Dock.  The Bennett Oyster Bar and Brasserie has just opened up on Battersea Square which, from reading recent reviews, sounds like it is well worth a visit.

%p
  As horrid as some may find Clapham Junction to visit it is actually incredibly useful to have close by. Not only is it Britain’s busiest railway station and so from there you can get pretty much anywhere it also hosts the big supermarkets, department stores, gyms and many a good boutique.    The Party Store at Clapham Junction must also never be forgotten about, on many occasion it has come to the rescue and provided the perfect fancy dress outfit.

%p
  If looking for a property in central London the message from us is don’t discard Battersea too quickly.  Plans are finally afoot for the development of the power station and with the American Embassy moving to Vauxhall it is an area which we believe still holds growth.  One visit to SW11 and you like me, might quickly become a convert.  I for one would rather have the open space of Battersea Park close by and take the overland into Victoria and Waterloo every morning then struggle with the unreliability of the district line from Fulham. But then there are many who simply could not come to terms with living South of the river!

%p
  %em
    For more information on finding properties in Battersea or in other areas of London please contact us at      
    %a{:href=>'mailto:enquiries@londonpropertymatch.com'}enquiries@londonpropertymatch.com

%br/
%br/
%br/