- @layout = 'newsletters_layout'
- @title = 'Newsletters | Market Update'

%h2 Market Update


%p 
  Over the next five years the division between the best and the rest is set to widen, with prime central London house prices expected to rise by 33% compared to a UK average of 12%. Within the mainstream the average will disguise growing divisions.  The best, that we are calling grade A stock, will outperform the average by 5% over the next five years, while grade C will under perform by the same margin – a difference of 10 percentage points between the different types of property in the same location.

%p 
  Mainstream values started to fall in the latter part 2010, with prices down -3% over the second half of the year, in 2011 we are forecasting a further -3% fall by the year end.   This compares to total falls of just -0.2% in prime central London over the second half of 2010 (with just -1.0% falls forecast in 2011). "We are not forecasting a deep double dip and there will be tiers of the market – like grade A prime London properties - that may well escape the downturn virtually unscathed," says Yolande Barnes, head of residential research at Savills.
 
%p
  "It is the detailed forecast that counts.  We have not only varied our prognosis for different regions and for prime versus mainstream, but we have also varied them for the most desirable, owner-occupied properties (grade A) versus poorer quality, tenanted stock (grade C), compared to the average (grade B). These distinctions will make a big difference to longer-term performance and we expect markets rich in equity to operate very differently to those historically heavily reliant on mortgage finance." As a result, the Savills forecasts for the prime locations and high quality residential property are that values will significantly outperform the UK mainstream housing market over the next five years, both in the pace and scale of growth.

%h3
  The Prime London Factor
  
%p
  "London is a market driven by a totally different set of factors to the rest of UK housing, not least its position as a global financial centre and appeal as a safe deposit for international investors," says Lucian Cook, director of Savills research.  "It will continue to lead the recovery, financed by overseas wealth inflows and a strong private sector economy, particularly in the financial and business services sectors. In turn, this will have a knock on effect to other parts of the South East which will also be driven by the stronger Southern economies."
  
%p 
  At the very top end of the market the overall number of &pound;20m plus sales more than doubled compared to a year earlier. Overseas equity has also been increasingly dominant in the higher value markets with foreign nationals accounting for 60% of all buyers of Central London property between &pound;5m and &pound;10m and 70% over &pound;10m, demonstrating that London is still seen as a safe haven for overseas wealth.
  According to Savills Research, prime central London house prices are forecast to fall by just -1% in 2011 and, more importantly for those looking to buy now, to rise by 33% by the end of 2015 (compared to a UK average of 12%).
  
%h3
  The equity divide in the mainstream

%p
  "We expect to see a growing division between the equity rich, owner occupied grade A stock at one end of the mainstream market and grade C stock at the other, the latter dominated by low levels of owner occupation and equity and high levels of renting,' says Barnes.
  
%p
  The growing gap between outright ownership, mortgaged ownership and first time buyers (or aspiring second movers) able to access neither mortgage credit nor cash lump sum deposits, is driving new demand for renting and shared ownership.  Whether this demand is met by supply will depend greatly on whether significant investors can be attracted into the market.   

%h3
  The forecast in detail – Prime Markets
  
%p
  We are currently seeing a lull in prime markets that often occurs in the recovery cycle particularly when activity is dependent on the confidence of equity rich buyers that can be itself often volatile.  Sentiment has been affected by reports of falls in the mainstream and evidence suggests that values will be suppressed for a while.  
  
%p 
  But we continue to expect renewed growth to be fuelled both by the continued introduction of overseas equity into prime London, coupled with wealth generated in the financial and business service sectors.    
  
%p
  It is now clear that that the divisions we have seen emerging in the market, particularly over the past two years, have become permanent.  Going forward, the market will be characterised by subdivisions defined by location, property type and the nature of occupier demand, and it is these divisions that will dictate the scale, timing and sustainability of future price growth.

%p
  There will be a very clear distinction between prime and mainstream markets over the coming five years, distinctions that will be further compounded by the very divergent performance of Grade A and Grade C properties.  Grade A will outperform the average by 5% over the next five years, while Grade C will underperform by the same margin – a difference of 10 percentage points between the different types of property in the same location.

%p
  %em
    For more information please contact Tracey Hayward of Savills at 
    %a{:href=>'mailto:thayward@savills.com'}thayward@savills.com

%br/
%br/
%br/