- @layout = 'newsletters_layout'
- @title = 'Newsletters | Market Update'

%h2 Market Update

%h3 
  International appetite for London homes continues to boost values.
%p
  "The level of price growth this quarter was unexpected and our forecast for 2011 now looks bearish" Yolande Barnes, head of Savills research.  The prime central London residential market continues to confound expectations by recording its sixth consecutive quarter of growth, with values rising 2.8 percent since the turn of the year, according to the Savills quarterly prime central London index which covers central areas from Mayfair to Holland Park and Chelsea to St Johns Wood. A significant slow down last quarter, coupled with rising stock levels, had led the property adviser to anticipate further slowing and forecast tiny falls across this year.

%p
  The Savills prime London index (which includes central, southwest, northern and east of city areas) also resumed growth after a flat (-0.2 percent) last quarter of 2010. It showed a price rise of 2.0 percent in the first quarter of 2011.

%p
  Growth was seen across all prime locations and price bands, but with high ticket properties most in demand. The average price of Savills transactions in the first quarter of 2011 rose from &pound;3million in 2010 to around &pound;5million, with houses significantly outperforming flats. This reflects a continued surge of wealthy overseas buyers bringing foreign equity into the capital from all corners of the globe.

%h3 Shift of buyer nationality
%p
  In the last quarter, there was a shift in the profile of overseas demand with increased activity from Middle Easterners and Russians buying homes for their own use – on the back of a strong oil price. Last year it was European investor buyers who were in the ascendancy – on the back of a strong Euro. Whatever the specific nationality, low sterling exchange rates since 2008 have attracted all buyer types into the market. 

%p
  "The level of price growth seen in the first quarter was unexpected and our forecast for 2011 of one per cent price falls across prime central London now looks bearish," says Yolande Barnes, head of Savills research. "Clearly stable real estate markets like London's are attracting purchasers in the face of global uncertainty and investment market volatility. Prime central London dwellings can act as a store of global wealth in the face of unexpected global events.

%p
  "But there is still a question mark over whether these asset price rises will continue if global conditions stabilise. Low stock levels together with a rush to beat the stamp duty deadline have also undoubtedly contributed to price growth in the last quarter so we will not race to review our forecasts. We will be watching to see if the market has the fundamental strength to sustain this momentum over the coming months.

%p
  "For now, values show no sign of softening (though growth has slowed from its early recovery in late 2009/early 2010) and there remains strong evidence that London retains its global city status and appeal as a safe deposit for international cash generated in more economically and politically volatile markets. Increasingly, these buyers seem to be viewing prime central London property as a ‘gold standard' asset."

%h3 More equity being squeezed into London's prime market funnel
%p
  Such has been the flow of equity into and within the capital that houses have significantly outperformed flats across the market. Average prime London house values rose by 3.4 percent in the quarter compared to 1.6 percent for flats. The result is that the average price of houses in our index currently exceeds peak values – albeit by a slim half percentage point margin – while flats remain 10.6 percent below their peak value.

%p
  Stock shortages – extreme in certain locations – mean there have been some very significant price gains over the past few months. Central west locations (Kensington, Holland Park and Notting Hill) outperformed all other locations, with prices up 4.3 percent in the quarter, though average values still represent value (-7.9 percent) compared to peak, particularly for non sterling buyers. As a result, demand has been strong across the value spectrum from &pound;2million to &pound;15million.

%h3 Where domestic buyers dominate
%p
  Domestic buyers account for some 80 percent of buyers in prime southwest (Fulham, Wandsworth, Barnes, Putney, etc) and in north London (Islington and Hampstead). In these areas too, some 65 percent of Savills' buyers have come from the financial and business services sector where renewed confidence has clearly had an impact. In prime southwest London prices rose by 2.2 percent in the 1st quarter, to leave average prices within 0.5 percent of their peak level and family house values ahead by 2.2 percent.
 
%p
  "Whether these locations have the potential to continue to record price growth will depend on whether this momentum has been the product of a deep vein of demand or rather a temporary blip. Less constrained stock levels, limited visible activity from bonus buyers and the passing of the stamp duty deadline could change the market dynamic," says Barnes. "It remains to be seen whether the bonus injection will materialise; to date, bonus buyers have been thin on the ground."

%h3 A world of difference
%p
  "By contrast, there seems little doubt that wealth generation will continue on a global scale and that London will remain of interest to investors. Stock – both traditional London properties and high end new developments – will remain finite and we believe that the capital will continue to be the focus of international investor interest.

%p
  "For now, much of the investor equity continues to target a very distinct and tightly defined central market and the extent to which this equity funnelled into the very top tiers of the prime London market can travel outwards and to lower tiers of the market will take time. The fortunes of the mortgage dependent markets outside London will be very different to the upper tiers of prime central London for some time," Barnes concludes.


%p
  %em
    For more information please contact Sue Laming, Savills Press Office : 020 7016 3880
    %a{:href=>'mailto:slaming@savills.com'}slaming@savills.com

%br/
%br/
%br/