- @layout = 'newsletters_layout'
- @title = 'Newsletters | A Plain English Guide to Lease Extensions'

%h2 A Plain English Guide to Lease Extensions

%p
  UK law provides an automatic right to extend certain residential leases so buyers and existing property owners should look to see what they can gain!
  
%p  
  Leases can seem a strange concept.  A leaseholder is asked to spend a great deal of money on an asset which is diminishing and which eventually just runs out; isn't that counter-intuitive?

%p
  Actually, there is no need for the term to run out if you satisfy a few simple criteria you can simply keep topping up the length of your lease and improving the value of your asset by purchasing a lease extension.

%p
  Let's look at the basics...

%h3 The Law:

%p 
  The rights are provided by the 1993 Leasehold Reform Act which forms a cornerstone of parliament's historic attempts to protect residential leaseholders.

%p
  The Rules:

%p 
  To qualify you need:
  %ul.simpleList
    %li A flat.  There are technical terms to describe what is a flat but common sense normally prevails!
    %li A long lease.  This means it was originally granted for a period of more than 21 years.  It does not matter how many years are left at the time of the claim.
    %li To have owned the lease for 2 years.  BUT if you are purchasing the flat you can simply get your sellers to make the claim on your behalf and then you buy it from them together with the lease.

%h4 What do you get?
%p
  You can buy an extension onto your lease term of 90 years and your ground rent is automatically reduced to nil.

%h4 The Procedure:
%p
  The process of claiming the lease extension follows a prescribed route and requires various forms.  Your lawyer will run the paperwork for you and your valuer will crunch the numbers and produce the valuations.  The basic process is:
  %ul.simpleList
    %li The flat owner can serve an information notice on the landlord to get all of the necessary details about the flat
    %li The landlord must provide the above information within 28 days
    %li The flat owner serves a lease extension notice on the landlord asking for the extension
    %li The valuation date is fixed at the date of the service of the above notice 
    %li The landlord must respond to the claim within 2 months with a counter-notice
    %li If the parties cannot agree on the terms of the extension then either party can apply for a tribunal hearing
    %li Once the tribunal reaches a decision the parties must complete the lease within 2 months
    %li Either party has 28 days to appeal a tribunal decision
    
%h4 How much does it cost?
%p
  As the flat owner you have to pay for:
  %ul.simpleList
    %li Your own legal and valuation fees
    %li The landlord's reasonable legal and valuation fees 
    %li The premium for the new lease (see below)
    %li Registration fees for your new lease and disbursements (count on a few hundred pounds) and there might be stamp duty land tax to pay (depending on the value of your extension)
    %li You may also need to port your existing mortgage onto the new lease.  The 1993 Act contains provisions which make this happen automatically but your bank may have some additional requirements which incur extra fees

%h4 How is the premium calculated?
%p 
  Valuing a lease extension is a specialist skill; an art not a science.  The premium is made up of:
  %ul.simpleList
    %li The value which the landlord loses in his own interest by carving out a longer lease length for the flat owner which is (i) the loss of ground rent and (ii) having to wait an additional 90 years to get the property back
    %li A share of the marriage value (like a pair of Ming vases, the combination of the old lease length and the new lease length is worth more as a pair than individually and the uplift in value is shared 50/50 between the landlord and the flat owner)
    %li Compensation for other losses, for example the loss of the ability to combine the flats back into a single house.

%h4 Be careful of mistakes and errors
%p
  It is important that the Notice contains no inaccuracies or misdescriptions because, although these can be corrected by application to the County Court, it is an expense that should be avoided. An incomplete Notice can be rejected as invalid, which costs valuable time and money.
%p
  It is important that you serve the claim notice on the right landlord(s).  You may have to serve the notice on multiple landlords if there are headlessess and your lawyer will make sure this is done properly.
%h4 A few things to bear in mind:
%ul.simpleList
  %li Once you serve the initial notice your Landlord can demand a deposit of 10% of the amount you are proposing to pay for your extension
  %li The Landlord can inspect the property with his valuer
  %li Lease extensions become more expensive once you have less than 80 years left on your existing term.  It could be worth seeking specialist advice quickly if this is true of your lease.
  %li Your lawyer will negotiate the terms of your new extended lease but it must be broadly on the same terms as your existing lease.  The Landlord cannot just make your lease more onerous for no reason.
    
%h4 Why do it?
%ul.simpleList
  %li Because it's your right!
  %li Because you can increase the length of your lease and make it more appealing to buyers.
  %li Because your bank may insist on having a longer lease as security (most banks insist on an unexpired term of around 60 years as a minimum).
  %li Because your buyers may insist on it. 
  %li Because given the right market conditions you can end up with a more valuable asset. The Ming vase principle (described above) which releases marriage value means the process should at least pay for itself and may in fact give you an immediate paper profit.

%p 
  %em
    The above is a very brief introduction to rights conferred by Chapter 2 of Part 1 of the Leasehold Reform, Housing &amp; Urban Development Act 1993 (as amended) and is intended for general guidance only. Specific advice and more detailed information can be obtained from the writer Chris Myers (a residential property solicitor at Forsters LLP in Mayfair London – specialists in residential property law).  
%br/
%br/
%br/
