- @layout = 'newsletters_layout'
- @title = "Newsletters | What's on in London this Winter"

%h2 What's on in London this Winter


%h3
  Theatre
%ul
  %li 
    %a{ :href=>'http://www.cirquedusoleil.com/en/shows/totem/default.aspx' }Cirque du Soleil-Royal Albert Hall - 5 January - 17 February
  %li 
    %a{ :href=>'http://www.riversidestudios.co.uk/cgi-bin/page.pl?l=1282322097' }Salad Days-Riverside Studios Until - 6 February
    In one of the happiest and best-loved classic musicals ever, Timothy and Jane leave university to enter an enchanted, sunny, happy 1954 where a street piano makes everyone dance, uncorks our inner glee and turns all of our lives around for the better.
  %li 
    %a{ :href=>'http://www.nationaltheatre.org.uk/61803/productions/twelfth-night.html' }Twelfth Night-Cottesloe, National Theatre - 11 January - 2 March
    Directed by Sir Peter Hall and starring his daughter Rebecca and Simon Callow
  %li 
    %a{ :href=>'http://www.thecomedytheatre.co.uk/' }The Children's Hour-Comedy Theatre - 22 January - 2 April
    Lillian Hellman's 1934 drama about two headmistresses of a New England boarding school.  Starring Kiera Knightly and Elisabeth Moss.
  %li
    %a{ :href=>'http://www.nationaltheatre.org.uk/62808/productions/frankenstein.html' }Frankenstien-Olivier, National Theatre - 5 February - 17 April
    Directed by Danny Boyle starring Benedict Cumberbach and Jonny Lee Miller in Nick Dear's new adaptation.
  %li 
    %a{ :href=>'http://www2.seetickets.com/reallyuseful/calendar.asp?e|artist=THE+WIZARD+OF+OZ&filler1=reallyuseful' }The Wizard of Oz-London Palladium - From 7th February
    The latest Andrew Lloyd Webber production
  %li 
    %a{ :href=>'http://www.oldvictheatre.com/whatson.php?id=70' }Cause Célèbre-The Old Vic -  17 March - 11 June
    Based on the true story of Alma Rattenbury who went on trial with her 18-year-old lover for the murder of her husband, Cause Célèbre is an intriguing tale of love, betrayal, guilt and obsession.


%h3
  Art
%ul
  %li 
    %a{ :href=>'http://www.royalacademy.org.uk/exhibitions/modernbritishsculpture/' }Modern British Sculpture - Royal Academy 22 January - 7 April
  %li 
    %a{ :href=>'http://www.southbankcentre.co.uk/find/hayward-gallery-and-visual-arts/tickets/british-art-show-7-in-the-days-of-the-comet-55512?booktickets=1' }British Art Show 7: In the Days of the Comet-Hayward Gallery - 16 February - 17 April
  %li 
    %a{ :href=>'http://www.tate.org.uk/modern/exhibitions/gabrielorozco/default.shtm' }Gabriel Orozco-Tate Modern - 19 January - 25 April
  %li 
    %a{ :href=>'http://www.nationalgallery.org.uk/whats-on/exhibitions/jan-gossaerts-renaissance' }Jan Gossaert's Renaissance -National Gallery 23 February - 30 May
  %li 
    %a{ :href=>'http://www.tate.org.uk/britain/exhibitions/susanhiller/default.shtm' }Susan Hillier-Tate Britain - 1 February - 15 May
  %li 
    %a{ :href=>'http://www.tate.org.uk/britain/turnerprize/turnerprize2010/default.shtm' }Turner Prize- Tate Britain - 5 October 2010 - 3 January 2011
  %li 
    %a{ :href=>'http://www.tate.org.uk/britain/exhibitions/watercolour/default.shtm' }Watercolour - Tate Britain - 16 February - 21 August
  %li 
    %a{ :href=>'http://www.britishmuseum.org/whats_on/all_current_exhibitions/book_of_the_dead.aspx' }Journey through the Afterlife: Ancient Egyptian Book of the Dead - British Museum - Until 6 March
    
    
%h3
  Music
%ul
  %li 
    %a{ :href=>'http://www.southbankcentre.co.uk/find/music/classical/tickets/simon-rattle-and-the-berliner-philharmoniker-50599' }Simon Rattle and the Berliner Philharmoniker-Southbank Centre - 20/23 February Barbican Centre 21/22 February
  %li 
    %a{ :href=>'http://www.theo2.co.uk/index.php?option=com_content&task=view&id=20&Itemid=122&eventId=1543' }Kylie - O2 Arena - April
  %li 
    %a{ :href=>'http://www.barbican.org.uk/music/event-detail.asp?ID=11571' }Esperanza Spalding - Barbican Hall - 8 April
  %li 
    %a{ :href=>'http://www.theo2.co.uk/index.php?option=com_content&task=view&id=20&Itemid=122&eventId=1556' }The Script -02 Arena - 26 March
  
  
%h3
  Other entertainment:
%ul
  %li 
    %a{ :href=>'http://www.idealhomeshow.co.uk/' }Ideal Home Show-Earl's Court - 11-27 March
  %li 
    %a{ :href=>'http://www.rgs.org/RGS-IBG-SITE/Templates/Level3.aspx?NRMODE=Published&NRORIGINALURL=%2fWhatsOn%2fTalks%2bdiscussions%2bdebates%2ehtm&NRNODEGUID=%7bE7AA7888-0274-4EB8-937E-49DB9870D91F%7d&NRCACHEHINT=ModifyLoggedIn#dpsimpson' }Discovering People-John Simpson-The Royal Geographical Society - 15 March
  %li 
    %a{ :href=>'http://www.worksonpaperfair.com/' }Watercolours and Works on Paper Fair-Science Museum  3-6 February 
    Prices range from &pound;100 to &pound;100,000 for drawings, watercolours, prints, photographs and posters dating from the seventeenth century to the present day.
%br/
%br/
%br/
