- @layout = 'newsletters_layout'
- @title = "Newsletters | What's on in London this Spring"

%h2 What's on in London this Spring


%h3
  Theatre
%ul.simpleList
  %li 
    %a{ :href=>'http://www.trh.co.uk/book_fp.php' }Flare Path Theatre Royal Haymarket until 4 June
    Terence Rattigan’s wartime play produced by Trevor Nunn starring Sienna Miller, James Purefoy and Sheridan Smith
  %li
    %a{ :href=>'http://www.londontheatredirect.com/play/543/Pygmalion.aspx'}Pygmalion Garrick 12 May-3 September
    The George Bernard Shaw drama starring Rupert Everett and Kara Tointon
  %li
    %a{ :href=>'http://www.allinlondon.co.uk/show-tickets-uk.php?event=533'}Lord of the Flies Regent’s Park Open Air Theatre 19 May-18 June
  %li           
    %a{ :href=>'http://www.london-theatreland.co.uk/theatres/wyndhams-theatre/much-ado-about-nothing.php'}Much Ado About Nothing Wyndham’s Theatre 16 May-1 September
    Starring David Tennant and Catherine Tate
  %li           
    %a{ :href=>'http://www.almeida.co.uk/event/the-knot-of-the-heart'}The Knot of the Heart  Almeida Theatre until 30 April


%h3
  Art
%ul.simpleList
  %li 
    %a{ :href=>'http://www.nationalgallery.org.uk/whats-on/exhibitions/an-american-experiment' }An American Experiment National Gallery until 30 May
  %li 
    %a{ :href=>'http://www.vam.ac.uk/collections/periods_styles/cult-of-beauty/' }The Cult of Beauty: The Aesthetic Movement 1860-1900 V&A until 17 July
  %li 
    %a{ :href=>'http://www.britishmuseum.org/whats_on/exhibitions/afghanistan/book_tickets.aspx' }Afghanistan: Crossroads of the Ancient World British Museum until 3 July
  %li 
    %a{ :href=>'http://www.royalacademy.org.uk/exhibitions/watteau/' }Watteau: The Drawings Royal Academy until 5 June
  %li 
    %a{ :href=>'http://www.viewlondon.co.uk/whatson/dali-and-the-city-exhibition-article-10639.html' }Dali and The City Moor House until 30 June
  %li 
    %a{ :href=>'http://www.wellcomecollection.org/whats-on/exhibitions/dirt.aspx' }Dirt: The Filthy Reality of Everyday Life Wellcome Collection until 31 August 
  %li 
    %a{ :href=>'http://www.wallacecollection.org/collections/exhibition/90' }Esprit et Verite: Watteau and his circle Wallace Collection until 5 June
  
  
%h3
  Other entertainment:
%ul.simpleList
  %li 
    %a{ :href=>'http://www.underbelly.co.uk/webpages/southbank/index.php' }E4  Udderbelly South Bank 28 April to 17 July
    This comedy and entertainment festival enjoys its third year.  This year’s headline act is Free Run, a high octane combo of acrobatics and martial arts.
  %li 
    %a{ :href=>'http://www.virginlondonmarathon.com/' }London Marathon 17 April
  %li 
    %a{ :href=>'http://www.thefa.com/thefacup' }FA Cup Final Wembley 14 May
  %li 
    %a{ :href=>'http://www.rhs.org.uk/Shows-Events/RHS-Chelsea-Flower-Show/2011?utm_source=google&utm_medium=cpc&utm_campaign=mv_flower_shows&utm_content=shows%3A%20chelsea%20flower%20show%20%2D%20national&utm_term=chelsea%20garden%20show' }RHS Chelsea Flower Show Royal Hospital Chelsea 24-26 May 
  %li 
    %a{ :href=>'http://www.uefa.com/uefa/mediaservices/mediareleases/newsid=1595715.html' }UEFA Champions League Final Wembley 28 May
  %li 
    %a{ :href=>'http://www.realfoodfestival.co.uk/ ' }Real Food Festival Earls Court 5-8 May
  %li 
    %a{ :href=>'http://www.spiritofsummerfair.co.uk/' }Spirit of Summer Fair Olympia Exhibition Hall 11-14 May
  %li 
    %a{ :href=>'http://www.olympia-art-antiques.com/' }Olympia International Fine Arts 7 Antiques Fair Olympia Exhibition Hall 9-19 June
  %li 
    %a{ :href=>'http://www.lta.org.uk/fans-major-events/AEGON-British-Tennis-Series/AEGON-Championships/Tickets/' }AEGEON Championships The Queens Club 6-12 June
%br/
%br/
%br/
